<footer class="site-footer">
	
	<nav class="site-footer__nav">
		<ul>
			<li class="site-nav__menu"><a href="#">First thing</a></li>
			<li class="site-nav__menu"><a href="#">First thing</a></li>
			<li class="site-nav__menu"><a href="#">First thing</a></li>
			<li class="site-nav__menu"><a href="#">First thing</a></li>
			<li class="site-nav__menu"><a href="#">First thing</a></li>
		</ul>

	</nav>
	<div class="wrapper">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quint, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>

</footer>


<script type="text/javascript" src="/temp/scripts/appJS.js"></script>
    </body>
</html>