<footer class="site-footer">
	<div class="wrapper">


		<div class="site-footer__nav">
			<div class="site-footer__nav-title">
				<h2 class="site-footer__nav-title--heading">Hey</h2>
				<ul>
					<li><a href="#">2nd thing</a></li>
					<li><a href="#">2nd thinssssssssssg</a></li>
					<li><a href="#">2nd thing</a></li>
				</ul>
			</div>

			<div class="site-footer__nav-title">
				<h2 class="site-footer__nav-title--heading">Hey</h2>
				<ul>
					<li><a href="#">2nd thinssssssssg</a></li>
					<li><a href="#">2nd thing</a></li>
					<li><a href="#">2nd thing</a></li>
				</ul>
			</div>

			<div class="site-footer__nav-title">
				<h2 class="site-footer__nav-title--heading">Hey</h2>
				<ul>
					<li><a href="#">2nd thing</a></li>
					<li><a href="#">2nd thing</a></li>
					<li><a href="#">2nd thinssggggggggggg</a></li>
				</ul>
			</div>

			<div class="site-footer__nav-title">
				<h2 class="site-footer__nav-title--heading">Hey</h2>
				<ul>
					<li><a href="#">2nd thingsssssssssss</a></li>
					<li><a href="#">2nd thing</a></li>
					<li><a href="#">2nd thing</a></li>
				</ul>
			</div>

			<div class="site-footer__nav-contact-us">
				<h2 class="site-footer__nav-contact-us--column-header">Contact Us</h2>
				<div class="site-footer__nav-contact-us--wrapper">
					<div class="site-footer__nav-contact-us--name">
						<h3>Thomas</h3>
						<a href=""><i class="fa fa-facebook-square fa-lg"></i></a>
						<a href=""><i class="fa fa-linkedin-square fa-lg"></i></a>
					</div>
					<div class="site-footer__nav-contact-us--name">
						<h3>Reilly</h3>
						<a href=""><i class="fa fa-facebook-square fa-lg"></i></a>
						<a href=""><i class="fa fa-linkedin-square fa-lg"></i></a>
					</div>
					<a href="#"><p><span>Or send us an email!</span></p></a>
				</div>
			</div>


		</div>

		<div>
			<p class="site-footer__copyright">Copyright &copy; 2017 Our Journey. All rights reserved. </p>
		</div>



	</div>
	
</footer>


<script type="text/javascript" src="/temp/scripts/App.js"></script>
</body>
</html>