<!DOCTYPE html>
<html>
<head>
    <title>My Site</title>
    <link rel="stylesheet" href="/temp/styles/styles.css">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Henny+Penny" rel="stylesheet">
    <meta charset="utf-8">
    <!-- fontawesome -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="keywords" content="Travel planning, travel bundles, travel escapes, affordable travel">
    <meta name="description" content="Your clarity. One trip away. We create soul restoring journeys that inspire you to be you.">
</head>
<body>
    <nav class="site-nav">
        <div class="wrapper">
            <!-- <a href="#"><img src="assets/images/logo2.png" class="site-nav__logo" alt="Site Travel Logo"></a> -->

            <div class="site-nav__menu-button">
            </div>

            <nav class="site-nav__menu">
                <ul class="site-nav__menu--container-ul">
                    <li class="site-nav__menu--container-li"><a href="#">First thing</a>
                        <ul>
                            <li><a href="#">First thinggggggggggggg</a></li>
                            <li><a href="#">First thggg</a></li>      
                        </ul>
                    </li>
                    <li class="site-nav__menu--container-li"><a href="#">2nd thing</a></li>
                    <li class="site-nav__menu--container-li"><a href="#">Third thing</a></li>
                    <li class="site-nav__menu--container-li"><a href="#">Fourth thing</a></li>
                    <li class="site-nav__menu--container-li"><a href="#">Fifth thing</a></li>
                    <li class="site-nav__menu--container-li"><a href="#">Sixth thing</a>
                        <ul>
                            <li><a href="#">First thinggggggggggggg</a></li>
                            <li><a href="#">First thinggggggggggggg</a></li>      
                        </ul>
                    </li>
                </ul>
        </nav>
    </div>
</nav>