<!DOCTYPE html>
<html>
<head>
    <title>My Site</title>
    <link rel="stylesheet" href="/temp/styles/styles.css">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Henny+Penny" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Travel planning, travel bundles, travel escapes, affordable travel">
    <meta name="description" content="Your clarity. One trip away. We create soul restoring journeys that inspire you to be you.">
</head>
<body>
    <nav class="site-nav">
        <div class="wrapper">            
            <nav class="site-nav__links">
               <ul class="site-nav__links--left-side">
                   <li><a href="#">First thing</a></li>
                   <li><a href="#">Second thing</a></li>
                   <li><a href="#">Third thing</a></li>
               </ul>
               <a href="#"><img src="assets/images/logo7.png" alt="Travel site logo" class="site-nav__logo"></a>
               <ul class="site-nav__links--right-side">
                   <li><a href="#">Fourth thing</a></li>
                   <li><a href="#">Fifth thing</a></li>
                   <li><a href="#">Sixth thing</a></li>
               </ul>
           </nav>

           <div class="site-nav__menu-icon">
           </div>

       </div>
   </nav>