<!DOCTYPE html>
<html>
<head>
    <title>My Site</title>
    <link rel="stylesheet" href="/temp/styles/styles.css">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700|Henny+Penny" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="keywords" content="Travel planning, travel bundles, travel escapes, affordable travel">
    <meta name="description" content="Your clarity. One trip away. We create soul restoring journeys that inspire you to be you.">
</head>
<body>
    <nav class="site-nav">
        <div class="wrapper">
        <!-- <a href="#"><img src="assets/images/logo.png" class="site-nav__logo"></a> -->
         <nav class="site-nav__links">
             <ul>
                 <li><a href="#">First thing</a></li>
                 <li><a href="#">Second thing</a></li>
                 <li><a href="#">Third thing</a></li>
                 <a href="#"><img src="assets/images/logo.png" class="site-nav__logo"></a>
                 <li><a href="#">Fourth thing</a></li>
                 <li><a href="#">Fifth thing</a></li>
                 <li><a href="#">Sixth thing</a></li>
             </ul>
         </nav>



     </div>
 </nav>