<!DOCTYPE html>
<html>
    <head>
        <title>My Site</title>
        <link rel="stylesheet" href="/temp/styles/styles.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="keywords" content="Travel planning, travel bundles, travel escapes, affordable travel">
        <meta name="description" content="Your clarity. One trip away. We create soul restoring journeys that inspire you to be you.">
    </head>
    <body>
    <nav class="navbar">
        <div>
            <!-- <div class="navbar-header">
                <a class="navbar-brand" href="/">YelpCamp</a>
            </div> -->
            <!-- <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Login</a></li>
                    <li><a href="/">Signup</a></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div> -->
        </div>
    </nav>