<% include ../../partials/header %>
<% include ../../partials/banner %>

<div class="wrapper wrapper--smaller wrapper__line-spacing">
	<h1 class="section-headers__title section-headers--no-margin">La Paz</h1>
	<div class="page-design__llama--full-page">
		<img class="lazyload" data-src="/assets/images/homepage/llama-full-50w.png">
		<img class="lazyload" data-src="/assets/images/homepage/llama-full-50w.png">
		<img class="lazyload" data-src="/assets/images/homepage/llama-full-50w.png">
		<img class="lazyload" data-src="/assets/images/homepage/llama-full-50w.png">
		<img class="lazyload" data-src="/assets/images/homepage/llama-backhalf2-50w.png">
		<div class="page-design__llama-score"><strong>/5</strong></div>
	</div> 

	<!-- Put the matching ID into the PARAGRAPH -->
	<div id="toplinks" class="top-links top-links--full-page">
		<a href="#quick-facts"><i class="fa fa-globe fa-lg"></i> <span>Quick Facts</span></a> 
		<a href="#cities-visited"><i class="fa fa-map-marker fa-lg"></i> <span>Cities Visited</span></a>
		<a href="#our-experience"><i class="fa fa-thumbs-up fa-lg"></i> <span>Our Experience</span></a>
		<a href="#tips-and-tricks"><i class="fa fa-paper-plane fa-lg"></i> <span>Tips and Tricks</span></a>
		<a href="#our-highlights"><i class="fa fa-dot-circle-o fa-lg"></i> <span>Our Highlights</span></a>
	</div>


	<p>
		<strong>Bolivia is full of natural beauty.</strong> Home to some of the most breathtaking landscapes we had the pleasure of visiting, Bolivia is a place where you will get a <strong>completely authentic experience.</strong> Even the “touristy” areas of Bolivia are less touristy than most other cities we visited. For this reason it is amazing and difficult. Especially if this is the first country you are travelling to in South America, <strong>it will be a culture shock. </strong>
	</p>
</div>		



<div class="wrapper wrapper--smaller wrapper__line-spacing">

	        

</div>




<% include ../../partials/scrollTop %>
<% include ../../partials/footer %>