<% include partials/header %>
<% include partials/banner %>



<div class="about-us">
	<div class="wrapper wrapper--smaller wrapper__line-spacing">
		<div class="about-us__heading">
			<h1 class="section-headers__title">About Us</h1>
			<img src="/assets/images/about-us/header-pic-600w-smaller.jpg">
			<p class="section-headers__line-highlight">
				<strong>Who are we and what qualifies us</strong> to give you tips on how you should plan your trip?
			</p>
			<p> 
				First of all, <strong>we had never travelled before</strong>  – at least not like this. We went into this trip with a general knowledge of our budget, timeframe and what we wanted to do, but that was it. There were many things that we learned along the way but <strong>we wished we had a website that could have guided us better</strong> through our journey. We’re hoping to give you the opportunity to learn from our mistakes instead of having to make them, as well as hearing about the things we did right.
			</p>
			<p>
				From Guelph Ontario, Canada, we are a couple in our mid twenties who both graduated in 2016 and wanted to take a trip before stepping into the “real world”. We have been together upwards of five years now and, although it’s tough to travel with anyone, we had a stellar time on our trip. Totalling a whopping <strong>twelve feet, six inches</strong> we never lost each other. 
			</p>
			<p>
				We chose South America because of its <strong>natural beauty, abundance of adventure, and it’s budget friendly to boot!</strong> At first, we were a bit scared because when you hear about South America you may think of crime and poverty. We aren’t going to pretend that it’s completely safe, but we wouldn’t say we ever felt like it was more dangerous than walking in the wrong part of Toronto late at night. The more we researched, the more we realized that you have to be conscious and safe (as with travelling anywhere foreign to you) and yes, even so you may get mugged, but that’s absolutely no reason to avoid a place as beautiful as South America. 
			</p>
			<p class="section-headers__line-highlight">
				<strong>Our goal with this website</strong> is to give you a good base for your trip, but not to live it for you.
			</p>
			<p>
				Some of the most frustrating things that happened on our trip were very well-meaning people telling us everything there was to know about the city/tour that we were going to next. When they did this, it made our expectations high and there was little surprise and wonder left. We want to make sure you <strong>don’t miss out on anything</strong> big or small but we are not here to explain every little detail – those details are yours to discover.
			</p>	
		</div>

		
		<div class="two-column-flex two-column-flex__less-margin-b">
			<div class="two-column-flex__image">
				<img src="/assets/images/about-us/thomas-closeup-500w.jpg">
			</div>
			<div class="two-column-flex__description">
				<h2 class="section-headers__subheading section-headers--no-margin">Thomas</h2>
				<p>
					Hi! I’m Thomas. Let me tell you some stuff. My most distinguishing feature would be my height; I’m 6’ 6’. From trying to fit through doors to constantly being pointed at, there were times that I felt like I was the world wonder! 

				</p>
				<p>
					<strong>I was incredibly nervous to travel</strong> through South America. I’ve never really travelled before and I didn’t know what to expect but in the end I’m SO glad I did it and can’t wait to start planning our next adventure!
				</p>
				<p class="section-headers__bold-line">
					Backpacking was more than climbing mountains and exploring places I’ve never seen before. Of course these experiences were beyond amazing but it’s the culture and way of life that really had an impact on me. 
					Despite the disadvantages these people face for living in third world countries, they were some of the happiest and kindest people I have ever met. Being submerged in the culture made me examine what’s really important in my own life and the little things that I was taking for granted. 

				</p>
			</div>	
		</div>
		<div>
			<p class="section-headers__line-highlight">
				In the end people remember stories, not numbers.
			</p>
			<p>
				When we got back from our trip I wanted to take all of our adventures and and share them with people to help maximize their experience as well as create a cool way to preserve our memories. However, because I’m weird and love to learn new things, I decided to teach myself web development and create this website from scratch so we could deliver a unique product that we were proud of. This also explains why this website has taken a little while to come into fruition. 
			</p>
			<p>
				You can also check out my personal blog where I have posts about my journey of learning to code from scratch, any random thoughts I have, as well as my next super secret project that is in the works….
			</p>
		</div>

		<div class="two-column-flex">
			<div class="two-column-flex__description">
				<h2 class="section-headers__subheading section-headers--no-margin">Reilly</h2>
				<p>
					Born in 1990, the youngest of 4 children (and the only girl), I’ve grown up with a sense of adventure. Travelling has always been something I wanted to do, but <strong>I never realized the impact it would have on me.</strong> I also didn’t know a damn thing I was doing when we got there. Fumbling through the first few weeks was one of the most challenging experiences of my life. 
				</p>
				<p>
					There are so many things that I would do differently if I had the chance, but at the same time, the experience was an unbelievable one that I wouldn’t trade for the world. Well, maybe I would trade the first few days where the altitude got the better of me...
				</p>
				<p>
					When I say travelling impacted my life, I believe the places you visit will impact you in all different ways. The amazing thing about South America is that you get a little taste of everything. We visited towns that didn’t have running water and no one spoke a lick of English, and we went to cities that were so vibrant and built-up you’d think you were back in North America – but better. 
				</p>
				<p>
					Each place will have a distinct and lasting impression on you.  For me, it was a mix of the landscape and the people that left the impression. From the breathtaking mountains of Bolivia, to the kindest people I’ve ever met in Colombia, <strong>every step of our journey is something I will always remember.</strong>
				</p>
			</div>
			<div class="two-column-flex__image">
				<img src="assets/images/about-us/reilly-closeup2-edit-500w.JPG">
			</div>
		</div>

		<div class="about-us__continue">
			<div class="about-us__continue__header">
				<h2>
					Continue on to learn about our journey overview!
				</h2>
				<div class="button__link">
					<a href="overview"><button class="button button__ghost button--margin-bottom">Our Journey</button></a> 
				</div>
			</div>
			
		</div>
	</div>
</div>


<% include partials/footer %>