<% include partials/header %>

<div class="large-background">
        <picture>
        	<source srcset="assets/images/about-us/cocora_valley_background-edit-1920w-smaller.jpg" media="(min-width:1000px)">
        	<source srcset="assets/images/about-us/cocora_valley_background-edit-1200w-smaller.jpg" media="(min-width:520px)">
        	<img srcset="assets/images/about-us/cocora_valley_background-edit-520w-smaller.jpg"  alt="Cocora Valley Colombia picture of valley" class="large-background__image large-background__image--smaller">
        </picture>

        <div class="large-background__text-wrapper">
	        <div class="wrapper">
                <a href="/" class="large-background__main-logo">
                    <img src="assets/images/homepage/logo2.png" class="site-nav__logo site-nav__logo--smaller" alt="Site Travel Logo">   
                </a>
                <h1 class="large-background__title large-background__title--smaller"><a href="/"><span>Our Journey</span></a></h1>
	        	<!-- <h2 class="large-background__subtitle">Backpacking South America on a Budget</h2> 
	            <p class="large-background__description">Sharing our adventure <br> to help you live yours</p> -->
	        </div>
        </div>
</div>


<div class="about-us">
	<div class="wrapper wrapper--smaller">
		<div class="about-us__heading">
			<h1 class="about-us__header">About Us</h1>
			<img src="assets/images/about-us/header-pic-600w-smaller.jpg">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>	
		</div>

		<h2>Thomas</h2>
		<div class="two-column-flex">
			<div class="two-column-flex__image">
				<img src="assets/images/about-us/thomas-closeup-500w.jpg">
			</div>
			<div class="two-column-flex__description">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>

		<h2>Reilly</h2>
		<div class="two-column-flex">
			<div class="two-column-flex__description">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
			<div class="two-column-flex__image">
				<img src="assets/images/about-us/reilly.jpg">
			</div>
		</div>
			
	</div>
</div>


<% include partials/footer %>