<% include partials/header %>

<div class="large-background">
        <picture>
        	<source srcset="assets/images/about-us/cocora_valley_background-edit-1920w-smaller.JPG" media="(min-width:1000px)">
        	<source srcset="assets/images/about-us/cocora_valley_background-edit-1200w-smaller.JPG" media="(min-width:520px)">
        	<img srcset="assets/images/about-us/cocora_valley_background-edit-520w-smaller.JPG"  alt="Cocora Valley Colombia picture of valley" class="large-background__image large-background__image--smaller">
        </picture>

        <div class="large-background__text-wrapper">
	        <div class="wrapper">
                <a href="/" class="large-background__main-logo">
                    <img src="assets/images/homepage/logo2.png" class="site-nav__logo site-nav__logo--smaller" alt="Site Travel Logo">   
                </a>
                <h1 class="large-background__title large-background__title--smaller"><a href="/"><span>Our Journey</span></a></h1>
	        	<!-- <h2 class="large-background__subtitle">Backpacking South America on a Budget</h2> 
	            <p class="large-background__description">Sharing our adventure <br> to help you live yours</p> -->
	        </div>
        </div>
</div>


<div class="about-us">
	<div class="wrapper wrapper--smaller">
		<div class="about-us__heading">
			<h1 class="about-us__header">About Us</h1>
			<img src="assets/images/about-us/header-pic-600w-smaller.jpg">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>	
		</div>

		
		<div class="two-column-flex">
			<div class="two-column-flex__image">
				<img src="assets/images/about-us/thomas-closeup-500w.jpg">
			</div>
			<div class="two-column-flex__description">
				<h2>Thomas</h2>
				<p>
					Hey! I'm Thomas Cservenyi (good luck with that one) and it's nice to meet you! I suppose this is where I should write some stuff about me that you may want to know. 
				</p>
				<p>
					First of all, I'm tall. As in 6'6 tall. Was this a challenge in South America? Absolutely. Sometimes I felt like I was in a zoo, where everyone would stare at me as if I was an alien. 
				</p>
				<p>
					But to be completely honest I was pretty nervous to go backpacking for so long, it's not like I've ever done anything so extravagent before.
				</p>
				<p>
					A little bit of background about myself. I'm a bit of a homebody, being born and raised in a beautiful town of Guelph Ontario, Canada. I did my undergraduate degree in Biochemistry and my Masters in Chemistry and Toxicology. A couple months after coming back from South America I started working at a biotechnology start-up company called ExVivo Labs, it's a pretty sweet gig and I love what I do. 
				</p>
			</div>

		</div>
		<p>
			I have a passion for entrepreneurship, all kinds of sports, web development, and of course after my backpacking adventure, travel! 
		</p>
		<p>
			When I got back from South America I had the idea of taking everything we learnt from our journey and sharing it with people to help them maximize their enjoyment. However, because I'm weird and someone who loves to keep learning I decided to learn web development from scratch (none of that wordpress cookie-cutter stuff) and deliver something that I can be proud of. That's also why this site took a while to come out. I'm sorry it took me a while to learn how to code a website.  
		</p>
		<p>
			Anyway, if you want to chat feel free to send me an email. You can also check out my personal blog where I have all sorts of random posts about working in a start-up, how I learnt to code from scratch, and my next super secret project I'm currently working on...
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>

		<div class="two-column-flex">
			<div class="two-column-flex__description">
				<h2>Reilly</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
				</p>
			</div>
			<div class="two-column-flex__image">
				<img src="assets/images/about-us/reilly-closeup-500w.JPG">
			</div>
		</div>

		<div class="about-us__continue">
			<div class="about-us__continue__header">
				<h2>
					Continue on to learn about our journey overview!
				</h2>
				<div class="button__link">
                   <a href="overview"><button class="button button__ghost button--margin-bottom">Our Journey</button></a> 
                </div>
			</div>
			
		</div>
	</div>
</div>

<div class="three-pics-across">
	<div class="wrapper">
		<div class="three-pics-across__images">
			<div class="three-pics-across__single-wrapper">
				<div class="three-pics-across__image-modal"><span>Words</span></div>
				<img src="assets/images/about-us/reilly-closeup-390w.JPG">
			</div>
			<div class="three-pics-across__single-wrapper">
				<div class="three-pics-across__image-modal"><span>Words</span></div>
				<img src="assets/images/about-us/reilly-closeup-390w.JPG">
			</div>
			<div class="three-pics-across__single-wrapper">
				<div class="three-pics-across__image-modal"><span>Words</span></div>
				<img src="assets/images/about-us/reilly-closeup-390w.JPG">
			</div>
		</div>
	</div>
</div>



<% include partials/footer %>