<% include partials/header %>
<% include partials/banner %>

<div class="wrapper">
	<div class="page-design__center"> 
		<h1>We're sorry. The page you requested is still under construction. Please give our monkeys a bit more time to get it done.</h1>
		<img class="last-element" src="/assets/images/homepage/monkey.jpg">
	</div>
	
</div>

<% include partials/scrollTop %>
<% include partials/footer %>