<% include partials/header %>
<% include partials/banner %>

<div class="wrapper wrapper--smaller wrapper__line-spacing">
	<h1 class="section-headers__title section-headers--no-margin">Contact Us</h1>
	<div>
		<p>
			Thanks for visiting our site. If you have any questions, thoughts, or suggestions please don't hesitate to contact us at:
		</p>
		<h3 class="page-design__center">thomasandreilly@gmail.com</h3>
		<p>
			We are always trying to find ways to improve our website to make it more readable and useful for you! We will try to get back to you as soon as we can. And now for no good reason, here's a picture of a llama!
		</p>
		<div class="three-pics-across__images">
			<div class="three-pics-across__single-wrapper last-element">
				<img data-src="/assets/images/contact-us/llama-500w.jpg" class="lazyload">
			</div>

		</div>
	</div>
	
</div>

<% include partials/scrollTop %>
<% include partials/footer %>