<% include partials/header %>

<div class="large-background">
        <picture>
        	<source srcset="assets/images/cocora_valley_background.jpg" media="(min-width:1200px)">
        	<source srcset="assets/images/cocora_valley_background-1274w-reduced-height.jpg" media="(min-width:690px)">
        	<source srcset="assets/images/cocora_valley_background-895w-reduced-height.jpg" media="(min-width: 460px)">
        	<img srcset="assets/images/cocora_valley_background-663w-reduced-height.jpg"  alt="Cocora Valley Colombia picture of valley" class="large-background__image">
        </picture>

        <div class="large-background__text-wrapper">
	        <div class="wrapper">
	        	<h1 class="large-background__title">Our Journey</h1>
	        	<h2 class="large-background__subtitle">Backpacking South America on a Budget</h2> 
	            <p class="large-background__description">Sharing our adventure <br> to help you live yours</p>
	        </div>
        </div>
</div>

<div class="welcome">
      <div class="wrapper">
              <div class="welcome__heading">
                <h1 class="welcome__title">Welcome to our site!</h1>
                <p>Welcome to our site, where you can learn some tips n tricks</p>
                <p>Include a mini thing that says 'read more about us here' that links to our about us page</p>
              </div>

              <h2 class="welcome__top-blog-header">Top Blog Posts</h2>
              <div class="welcome__top-blogs">
                <div class="welcome__top-blog-post">
                    <h3 class="welcome__top-blog-post-header">Heading of Blog Post</h3>
                    <img src="assets/images/luggage.jpg" alt="Backpacking travel">
                    <p class="welcome__top-blog-post-description">Brief description of that blog post. Hey, why dont you check out this list that you should read before you go backpacking? Dont know what to bring and prioritize??</p>
                </div>

                <div class="welcome__top-blog-post">
                    <h3 class="welcome__top-blog-post-header">Heading of Blog Post</h3>
                    <img src="assets/images/luggage.jpg" alt="Backpacking travel">
                    <p class="welcome__top-blog-post-description">Brief description of that blog post. Hey, why dont you check out this list that you should read before you go backpacking? Dont know what to bring and prioritize??</p>
                </div>

                <div class="welcome__top-blog-post">
                    <h3 class="welcome__top-blog-post-header">Heading of Blog Post</h3>
                    <img src="assets/images/luggage.jpg" alt="Backpacking travel">
                    <p class="welcome__top-blog-post-description">Brief description of that blog post. Hey, why dont you check out this list that you should read before you go backpacking? Dont know what to bring and prioritize??</p>
                </div>
              </div>
      </div> 
</div>


<div class="travel-detail">
    <div class="wrapper">
        <div class="travel-detail__content">
            <div class="travel-detail__header">
                <h1 class="travel-detail__heading">Read our in-depth guide of each country/city we visited</h1>
                <h2 class="travel-detail__subheading">Get the inside scoop you wont find in guide books</h2>
                <p class="travel-detail__description">Check out what we did, how we did it, and our personal recommendations!</p>
            </div>
        </div>
    </div>
</div>

<div class="map">
    <div class="wrapper wrapper--wide">
    <h1 class="map__header">Come check out...</h1>
        <div class="map__container">
            <div class="map__descriptions">
                <div class="map__descriptions--row">
                    <div class="map__country">
                        <img src="assets/images/colombia-home-edited.jpg" alt="Colombia home nav" class="map__descriptions-picture">
                        <div class="map__list">
                            <h2>Learn about the ins and out of Colombia</h2>
                            <p>Mini description about medellin that ends with ...</p>
                        </div>
                       
                    </div>

                   <div class="map__country">
                        <img src="assets/images/ecuador-home.jpg" alt="Ecuador home nav" class="map__descriptions-picture">
                        <div class="map__list">
                            <h2>Learn about the ins and out of Colombia</h2>
                            <p>Mini description about medellin that ends with ...</p>
                        </div>
                    </div>

                    <div class="map__country">
                        <img src="assets/images/peru-home.jpg" alt="Peru home nav" class="map__descriptions-picture">
                        <div class="map__list">
                            <h2>Learn about the ins and out of Colombia</h2>
                            <p>Mini description about medellin that ends with ...</p>
                        </div>
                    </div>

                    <div class="map__country">
                        <img src="assets/images/bolivia-home3.jpg" alt="Bolivia home nav" class="map__descriptions-picture">
                        <div class="map__list">
                            <h2>Learn about the ins and out of Colombia</h2>
                            <p>Mini description about medellin that ends with ...</p>
                        </div>
                    </div>
                </div>  
            </div>
            <img src="assets/images/south-america-map-colour2.jpg" alt="Map of South America" class="map__image-of-sa">
        </div>
    </div>
</div>



<% include partials/footer %>