<% include partials/header %>

<div class="large-background">
        <picture>
        	<source srcset="/assets/images/homepage/cocora_valley_background-edit-1200w-2.JPG" media="(min-width:1000px)">
        	<source srcset="/assets/images/homepage/cocora_valley_background-edit-600w.JPG" media="(min-width:520px)">
        	<img srcset="/assets/images/homepage/cocora_valley_background-edit-300w.JPG"  alt="Cocora Valley Colombia picture of valley" class="large-background__image">
        </picture>

        <div class="large-background__text-wrapper">
	        <div class="wrapper">
                <a href="/" class="large-background__main-logo">
                    <img src="/assets/images/homepage/logo2.png" class="site-nav__logo" alt="Site Travel Logo"></a>
                <h1 class="large-background__title"><a href="/"><span>TRC Adventures</span></a></h1>
	        	<h2 class="large-background__subtitle">Backpacking South America on a Budget</h2> 
	            <p class="large-background__description">Sharing our adventure <br> to help you live yours</p>
	        </div>
        </div>
</div>

<div class="welcome">
      <div class="wrapper wrapper--wide">
              <div class="welcome__heading">
                <h1 class="welcome__title">Welcome to <br> TRC Adventures!</h1>
                <h2 class="welcome__subheading">Our goal is simple: to share our <em><b>personal</b></em> stories to help people like <b>YOU</b> get the inside scoop and help you travel cheaper, safer, and happier</h2>
                <img data-src="/assets/images/homepage/aboutus-edit-400w.JPG" class="lazyload welcome__picture">
                <h2 class="welcome__backstory">Click to read our backstories and why we made this website!</h2>
                <div class="button__link">
                   <a href="about-us"><button class="button button__ghost">About Us</button></a> 
                </div>
              </div>
      </div>
</div>

<div class="map">
    <div class="wrapper">
        <h1 class="map__header">Learn about our <a href="">journey</a></h1>
        <h2 class="map__subheader">You can start with seeing our overall backpacking journey. See what route we took, the countries we visited, and why!</h2>
        <div class="button__link">
            <a href="about-us"><button class="button button__ghost">Our Journey</button></a>
        </div>
        <h3 class="map__subheader"> More interested in a specific country? Click below to take a look</h3>
        <div class="map__container">
            <div class="map__descriptions">
                <div class="map__descriptions--row">
                    <div class="map__country">
                        <a href="/overview/colombia"><img data-src="assets/images/homepage/colombia-home-edited.jpg" alt="Colombia quick access" class="lazyload map__descriptions-picture"></a>
                        <div class="map__list">
                            <a href="/overview/colombia"><h2>Incredibly friendly people with untouched natural beauty</h2></a>
                            <p>The days of Escobar are over. Colombia is safe and stunning! There's so much to see and do here. Thomas' favourite country!</p>
                            <p class="map__highlight-intro">Some quick highlights</p>
                            <ul class="map__quick-highlights">
                                <a href="/construction"><li>Santa Marta - Home to the worlds largest hammock and scuba diving</li></a>
                                <a href="/construction"><li>Salento - The coffee region, and one of our coolest stays</li></a>
                                <a href="/construction"><li>Medellin - Once the worlds most dangerous city was recently voted the most innovative</li></a>

                            </ul>
                        </div>
                       
                    </div>

                   <div class="map__country">
                        <a href="/overview/ecuador"><img data-src="assets/images/homepage/ecuador-home.jpg" alt="Ecuador quick access" class="lazyload map__descriptions-picture"></a>
                        <div class="map__list">
                            <a href="/overview/ecuador"><h2>A beautiful country with special little islands</h2></a>
                            <p>We could go on and on about the Galapagos, and we will. There's no place else like it, full of lively wildlife and endemic animals. Oh, the mainland is cool too.</p>
                            <p class="map__highlight-intro">Some quick highlights</p>
                            <ul class="map__quick-highlights">
                                <a href="/construction"><li>Galapagos Islands - Ever worry things get overhyped? Galaps are not one</li></a>
                                <a href="/construction"><li>Quito - See the middle of the world, and enjoy the city's history</li></a>
                            </ul>
                        </div>
                    </div>

                    <div class="map__country">
                        <a href="/overview/peru"><img data-src="/assets/images/homepage/peru-home.jpg" alt="Peru quick access" class="lazyload map__descriptions-picture"></a>
                        <div class="map__list">
                            <a href="/overview/peru"><h2>From rainforests to mountains to deserts and beaches</h2></a>
                            <p>There's so much adventure waiting in Peru for all types of people. There's also this mountain called Macchu Picchu, heard of it?</p>
                            <p class="map__highlight-intro">Some quick highlightss</p>
                            <ul class="map__quick-highlights">
                                <a href="/construction"><li>Hauraz - a climbers dream. Breath taking mountains and trails</li></a>
                                <a href="/construction"><li>Cusco and Machu Picchu - You know what it is. One of our top adventures</li></a>
                                <a href="/construction"><li>Huacachina - Learn to sandboard at the desert oasis</li></a>
                            </ul>
                        </div>
                    </div>

                    <div class="map__country">
                        <a href="/overview/bolivia"><img data-src="/assets/images/homepage/bolivia-home3.jpg" alt="Bolivia quick access" class="lazyload map__descriptions-picture"></a>
                        <div class="map__list">
                            <a href="/overview/bolivia"><h2>Some of the most jaw-dropping landscapes</h2></a>
                            <p>A highly underrated country with the coolest national park we've ever seen. Get ready for cool perspective pictures!</p>
                            <p class="map__highlight-intro">Some quick highlights</p>
                            <ul class="map__quick-highlights">
                                <a href="/construction"><li>Sucre - The real capital of Bolivia. A hidden gem of a city</li></a>
                                <a href="/construction"><li>Salt Flats - Explore the salt flats and the massive National Park</li></a>
                            </ul>
                        </div>
                    </div> 
                </div>  
            </div>
           <!--  <img data-src="/assets/images/homepage/south-america-map-colour2.jpg" alt="Map of South America" class="lazyload map__image-of-sa"> -->
        </div>
    </div>
</div>

<div class="lazyload travel-detail">
    <div class="wrapper">
        <div class="travel-detail__content">
            <div class="travel-detail__header">
                <h1 class="travel-detail__heading">Read our in-depth guides of every country and city we visited</h1>
                <a href="/city-guides"><button class="button button--larger button__ghost--white">City Guides</button></a>
                <h2 class="travel-detail__subheading">We give detailed explanations on everything from must-do activities, places to see, and how to do it.</h2>
                <!-- <p class="travel-detail__description">Check out what we did, how we did it, and our personal recommendations! Read our personal stories from our REAL adventure, shit you wont find in a guide book.</p> -->
                   
            </div>
        </div>
    </div>
</div>

<div class="welcome--topblogs">
    <div class="wrapper wrapper--wide">
        <h1 class="welcome__top-blog-intro">Read our blog posts!</h1>
        <p class="welcome__top-blog-description">
            Learn what we did right and what we did wrong through our blog posts where we share our experiences and knowledge with you!
        </p>
        <div class="page-design__center">
            <a href="/construction"><button class="button button--larger button__ghost--white">All Adventure Blogs</button></a>
        </div>
        

        <h2 class="welcome__top-blog-header"><span>Top Posts</span></h2>
        <div class="welcome__top-blogs">
            <div class="welcome__top-blog-post">
                <div class="welcome__top-blog-post--center">
                    <a href="/construction"><img class="lazyload" data-src="/assets/images/homepage/homepage-adventure-350w.jpg" alt="Adventure guide travel"></a>
                </div>
                <div class="welcome__top-blog-post--background">
                    <a href="/construction"><h3 class="welcome__top-blog-post-header">Where to poo</h3></a>
                    <p class="welcome__top-blog-post-description">Read detailed guides about our favourite adventures! We offer all the how-to's, pricing, and important details to help you do it yourself.</p>
                </div>
            </div>

            <div class="welcome__top-blog-post">
                <div class="welcome__top-blog-post--center">
                    <a href="/construction"><img class="lazyload" data-src="/assets/images/homepage/advice-homepage-350w.jpg" alt="Backpacking travel advice"></a>
                </div>
                <div class="welcome__top-blog-post--background">
                    <a href="/construction"><h3 class="welcome__top-blog-post-header">Best places to find cheap eats</h3></a>
                    <p class="welcome__top-blog-post-description">Here we address some of the top issues/thoughts we faced before, during, and after our backpacking adventure. We address things like money, what to bring, random stories, and much more!</p>
                </div>
            </div>

            <div class="welcome__top-blog-post">
                <div class="welcome__top-blog-post--center">
                    <a href="/construction"><img class="lazyload" data-src="/assets/images/homepage/homepage-guide-350w.jpg" alt="Backpacking Guide"></a>
                </div>
                <div class="welcome__top-blog-post--background">
                    <a href="/construction"><h3 class="welcome__top-blog-post-header">How to not get killed</h3></a>
                    <p class="welcome__top-blog-post-description">Our main goal is to provide guides for every city we visited. Here we share everything we did, the places we visited and things we did. See below for an example!</p>
                </div>
            </div>
        </div>

        <hr>

        <h2 class="welcome__top-blog-header"><span>Most Recent Posts</span></h2>
        <div class="welcome__top-blogs">
            <div class="welcome__top-blog-post">
                <div class="welcome__top-blog-post--center">
                    <a href="/construction"><img class="lazyload" data-src="/assets/images/homepage/luggage-350w.jpg" alt="Backpacking travel"></a>
                </div>
                <div class="welcome__top-blog-post--background">
                    <a href="/construction"><h3 class="welcome__top-blog-post-header">Top 15 Things to Bring Backpacking</h3></a>
                    <p class="welcome__top-blog-post-description">Brief description of that blog post. Hey, why dont you check out this list that you should read before you go backpacking? Dont know what to bring and priorit.?</p>
                </div>
                
            </div>

            <div class="welcome__top-blog-post">
                <div class="welcome__top-blog-post--center">
                    <a href="/construction"><img class="lazyload" data-src="/assets/images/homepage/ecuador-galapagos-sleeping-seal-edit-350w.jpg" alt="Backpacking travel"></a>
                </div>
                <div class="welcome__top-blog-post--background">
                    <a href="/construction"><h3 class="welcome__top-blog-post-header">Going to the Galapagos and not spending $20,000</h3></a>
                    <p class="welcome__top-blog-post-description">Brief description of that blog post. Hey, why dont you check out this list that you should read before you go backpacking? Dont know what to bring and prioritize??</p>
                </div>
            </div>

            <div class="welcome__top-blog-post">
                <div class="welcome__top-blog-post--center">
                    <a href="/construction"><img class="lazyload" data-src="/assets/images/homepage/bolivia-saltflat-biking-edit-350w.JPG" alt="Backpacking travel"></a>
                </div>
                <div class="welcome__top-blog-post--background">
                    <a href="/construction"><h3 class="welcome__top-blog-post-header">Not enough sodium in your diet? Try the Salt Flats!</h3></a>
                    <p class="welcome__top-blog-post-description">Brief description of that blog post. Hey, why dont you check out this list that you should read before you go backpacking? Dont know what to bring and prioritize??</p>
                </div>
            </div>

            <div class="welcome__top-blog-post">
                <div class="welcome__top-blog-post--center">
                    <a href="/construction"><img class="lazyload" data-src="/assets/images/homepage/money-homepage-350w.jpg" alt="Backpacking travel"></a>
                </div>
                <div class="welcome__top-blog-post--background">
                    <a href="/construction"><h3 class="welcome__top-blog-post-header">Tips for traveling South America on a budget</h3></a>
                    <p class="welcome__top-blog-post-description">Brief description of that blog post. Hey, why dont you check out this list that you should read before you go backpacking? Dont know what to bring and prioritize??</p>
                </div>
            </div>
        </div>
    </div>  
</div>


<% include partials/scrollTop %>
<% include partials/footer %>