<% include partials/header %>

<div class="large-background">
        <picture>
        	<source srcset="assets/images/cocora_valley_background.jpg" media="(min-width:1200px)">
        	<source srcset="assets/images/cocora_valley_background-1274w-reduced-height.jpg" media="(min-width:690px)">
        	<source srcset="assets/images/cocora_valley_background-895w-reduced-height.jpg" media="(min-width: 460px)">
        	<img srcset="assets/images/cocora_valley_background-663w-reduced-height.jpg"  alt="Cocora Valley Colombia picture of valley" class="large-background__image">
        </picture>

        <div class="large-background__text-wrapper">
	        <div class="wrapper">
	        	<h1 class="large-background__title">Our Journey</h1>
	        	<h2 class="large-background__subtitle">Backpacking South America on a Budget</h2> 
	            <p class="large-background__description">Sharing our adventure <br> to help you live yours</p>
	        </div>
        </div>
</div>

<div class="welcome">
      <div class="wrapper">
              <div class="welcome__heading">
                <h1 class="welcome__title">Welcome to our site!</h1>
                <p>Welcome to our site, where you can learn some tips n tricks</p>
              </div>
      </div> 
</div>


<div class="map">
    <div class="wrapper">
        <div class="map__container">
            <div class="map__descriptions">
                <h1 class="map__header">Come check out...</h1>
                <div class="map__descriptions--row">
                    <div class="map__country">
                        <img src="assets/images/colombia-home-edited.jpg" alt="Colombia home nav" class="map__descriptions-picture">
                        <div class="map__list">
                            <ul>
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                            </ul>
                        </div>
                       
                    </div>

                   <div class="map__country">
                        <img src="assets/images/colombia-home.jpg" alt="Colombia home nav" class="map__descriptions-picture">
                        <h2>Ecuador</h2>
                        <p>This is a thing</p>
                        <p>This is a thing</p>
                        <p>This is a thing</p>
                    </div>

                    <div class="map__country">
                        <img src="assets/images/colombia-home.jpg" alt="Colombia home nav" class="map__descriptions-picture">
                        <h2>Peru</h2>
                        <p>This is a thing</p>
                        <p>This is a thing</p>
                        <p>This is a thing</p>
                    </div>

                    <div class="map__country">
                        <img src="assets/images/colombia-home.jpg" alt="Colombia home nav" class="map__descriptions-picture">
                        <h2>Bolivia</h2>
                        <p>This is a thing</p>
                        <p>This is a thing</p>
                        <p>This is a thing</p>
                    </div>
                </div>  
            </div>
            <img src="assets/images/south-america-map-colour2.jpg" alt="Map of South America" class="map_image-of-sa">
        </div>
    </div>
</div>



<% include partials/footer %>