<% include partials/header %>

<header class="jumbotron">
        <div class="container">
            <h1> Welcome to YelpCamp </h1>    
            <p> View our hand picked campgrounds from all over the world </p>
        </div>
</header>




<% include partials/footer %>