<% include partials/header %>

<div class="large-background">
        <picture>
        	<source srcset="assets/images/cocora_valley_background.jpg" media="(min-width:1200px)">
        	<source srcset="assets/images/cocora_valley_background-1274w-reduced-height.jpg" media="(min-width:690px)">
        	<source srcset="assets/images/cocora_valley_background-895w-reduced-height.jpg" media="(min-width: 460px)">
        	<img srcset="assets/images/cocora_valley_background-663w-reduced-height.jpg"  alt="Cocora Valley Colombia picture of valley" class="large-background__image">
        </picture>

        <div class="large-background__text-wrapper">
	        <div class="wrapper">
                <a href="#"><img src="assets/images/logo2.png" class="site-nav__logo" alt="Site Travel Logo"></a>
	        	<h1 class="large-background__title">Our Journey</h1>
	        	<h2 class="large-background__subtitle">Backpacking South America on a Budget</h2> 
	            <p class="large-background__description">Sharing our adventure <br> to help you live yours</p>
	        </div>
        </div>
</div>

<div class="welcome">
      <div class="wrapper wrapper--wide">
              <div class="welcome__heading">
                <h1 class="welcome__title">Welcome to <br> our site!</h1>
                <h2 class="welcome__subheading">Our goal is simple: to share our <em><b>personal</em></b>  stories to    help people like <b>YOU</b> get the inside scoop and help you travel cheaper, safer, and happier</h2>
                <img src="assets/images/homepage/aboutus-edit-400w.jpg">
                <h2 class="welcome__subheading welcome__subheading--margin-bottom">You can read our backstories here!</h2>
                <button class="button">About Us</button>
              </div>
      </div>
</div>

<div class="map">
    <div class="wrapper">
    <h1 class="map__header">Learn about our <a href="">journey</a></h1>
    <h2 class="map__subheader">You can start with seeing our overall backpacking journey. See what route we took, the countries we visited, and why!</h2>
    <h3 class="map__subheader map__subheader--margin-bottom"> More interested in a specific country? Click below to take a look</h3>
        <div class="map__container">
            <div class="map__descriptions">
                <div class="map__descriptions--row">
                    <div class="map__country">
                        <a href="#"><img src="assets/images/homepage/colombia-home-edited.jpg" alt="Colombia quick access" class="map__descriptions-picture"></a>
                        <div class="map__list">
                            <h2>Learn why it's absolutely amazing and everyone needs to visit!</h2>
                            <p>The days of Escobar are over. Colombia is safe and stunning! There's so much to see and do here and full of the nicest people around.</p>
                        </div>
                       
                    </div>

                   <div class="map__country">
                        <a href="#"><img src="assets/images/homepage/ecuador-home.jpg" alt="Ecuador quick access" class="map__descriptions-picture"></a>
                        <div class="map__list">
                            <h2>A beautiful country with a special little island</h2>
                            <p>You want to know about the Galapagos. More importantly, you want to know how to do it without going bankrupt. Let us show you.</p>
                        </div>
                    </div>

                    <div class="map__country">
                        <a href="#"><img src="assets/images/homepage/peru-home.jpg" alt="Peru quick access" class="map__descriptions-picture"></a>
                        <div class="map__list">
                            <h2>From rainforests to mountains to deserts and beaches.</h2>
                            <p>There's so much adventure waiting in Peru. Oh and there's also this mountain called Macchu Picchu, heard of it?</p>
                        </div>
                    </div>

                    <div class="map__country">
                        <a href="#"><img src="assets/images/homepage/bolivia-home3.jpg" alt="Bolivia quick access" class="map__descriptions-picture"></a>
                        <div class="map__list">
                            <h2>Some of the most untouched jay-dropping landscapes</h2>
                            <p>Probably the coolest national park we've ever seen that contains the Salt Flats. Get ready for cool perspective pictures!</p>
                        </div>
                    </div> 
                </div>  
            </div>
            <img src="assets/images/south-america-map-colour2.jpg" alt="Map of South America" class="map__image-of-sa">
        </div>
    </div>
</div>

<div class="travel-detail">
    <div class="wrapper">
        <div class="travel-detail__content">
            <div class="travel-detail__header">
                <h1 class="travel-detail__heading">Read our in-depth guides of every country and city we visited</h1>
                <h2 class="travel-detail__subheading">We give detailed explanations on everything from must-do activities, places to see, and how to do it.</h2>
                <!-- <p class="travel-detail__description">Check out what we did, how we did it, and our personal recommendations! Read our personal stories from our REAL adventure, shit you wont find in a guide book.</p> -->
                <h1 class="travel-detail__intro">Read about <a href="#">Lima Peru</a> as an example!</h1>       
            </div>
        </div>
    </div>
</div>

<div class="welcome--topblogs">
    <div class="wrapper wrapper--wide">
        <h2 class="welcome__top-blog-header"><span>Most Recent Posts</span></h2>
        <div class="welcome__top-blogs">
            <div class="welcome__top-blog-post">
                <img src="assets/images/luggage.jpg" alt="Backpacking travel">
                <h3 class="welcome__top-blog-post-header">Top 15 Things to Bring Backpacking</h3>
                <p class="welcome__top-blog-post-description">Brief description of that blog post. Hey, why dont you check out this list that you should read before you go backpacking? Dont know what to bring and priorit.?</p>
            </div>

            <div class="welcome__top-blog-post">
                <img src="assets/images/homepage/ecuador-galapagos-sleeping-seal-edit-350w.jpg" alt="Backpacking travel">
                 <h3 class="welcome__top-blog-post-header">Going to the Galapagos and not spending $20,000</h3>
                <p class="welcome__top-blog-post-description">Brief description of that blog post. Hey, why dont you check out this list that you should read before you go backpacking? Dont know what to bring and prioritize??</p>
            </div>

            <div class="welcome__top-blog-post">
                <img src="assets/images/homepage/bolivia-saltflat-biking-edit-350w.jpg" alt="Backpacking travel">
                <h3 class="welcome__top-blog-post-header">Not enough salt? Try the Salt Flats!</h3>
                <p class="welcome__top-blog-post-description">Brief description of that blog post. Hey, why dont you check out this list that you should read before you go backpacking? Dont know what to bring and prioritize??</p>
            </div>

            <div class="welcome__top-blog-post">
                <img src="assets/images/luggage.jpg" alt="Backpacking travel">
                <h3 class="welcome__top-blog-post-header">Tips for traveling South America on a budget</h3>
                <p class="welcome__top-blog-post-description">Brief description of that blog post. Hey, why dont you check out this list that you should read before you go backpacking? Dont know what to bring and prioritize??</p>
            </div>
        </div>

        <h2 class="welcome__top-blog-header"><span>What We Offer</span></h2>
        <div class="welcome__top-blogs">
            <div class="welcome__top-blog-post">
                <img src="assets/images/luggage.jpg" alt="Backpacking travel">
                <h3 class="welcome__top-blog-post-header">Personal Adventure Guides</h3>
                <p class="welcome__top-blog-post-description">Read detailed guides about our favourite adventures! We offer all the how-to's, pricing, and important details to help you do it yourself.</p>
            </div>

            <div class="welcome__top-blog-post">
                <img src="assets/images/luggage.jpg" alt="Backpacking travel">
                <h3 class="welcome__top-blog-post-header">Advice Blogs</h3>
                <p class="welcome__top-blog-post-description">Here we address some of the top issues/thoughts we faced before, during, and after our backpacking adventure. We address things like money, what to bring, random stories, and much more!</p>
            </div>

            <div class="welcome__top-blog-post">
                <img src="assets/images/luggage.jpg" alt="Backpacking travel">
                <h3 class="welcome__top-blog-post-header">Overview of every city</h3>
                <p class="welcome__top-blog-post-description">Our main goal is to provide guides for every city we visited. Here we share everything we did, the places we visited and things we did. See below for an example!</p>
            </div>
        </div>
    </div>  
</div>


<!-- 
<div class="travel-detail--light-background">
    <div class="wrapper wrapper--wide">
        <div class="travel-detail__example">
            <h1>Peru</h1>
            <h2>Lima</h2>

            <div class="llama-rating">
                <img src="assets/images/homepage/llama-full-50w.png">
                <img src="assets/images/homepage/llama-full-50w.png">
                <img src="assets/images/homepage/llama-full-50w.png">
                <img src="assets/images/homepage/llama-full-50w.png">
                <img class="llama-rating__half" src="assets/images/homepage/llama-backhalf2-50w.png">
            </div>

            <div>
                <h1>Quick summary and feel of the city</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> 
            </div>
                


            <div class="two-column-flex">
                <div class="two-column-flex__description">
                    <h4>Main Attractions</h4>
                    <ul>
                        <li>Tour Company</li>
                        <li>Pros</li>
                        <li>Cons</li>
                        <li>How/When to book</li>
                    </ul> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="two-column-flex__image two-column-flex__image--600w">
                    <img src="assets/images/peru/lima-malicon-1200w.jpg">                        
                </div>     
            </div>

            <div class="two-column-flex">
                <div class="two-column-flex__image">
                    <img src="assets/images/peru/lima-cooking-400w.jpg">                        
                </div> 
                <div class="two-column-flex__description">
                    <h4>Eat, sleep, shop, and extras</h4>
                    <ul>
                        <li>Tour Company</li>
                        <li>Pros</li>
                        <li>Cons</li>
                        <li>How/When to book</li>
                    </ul> 
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>    
            </div>

            <div>
                <h1>Check out the "countires" page to see a full outlay of the cities we visited!</h1>
            </div> -->
           <!--  <h1>Exta pictures!</h1>
            <div class="three-pics-across">
                <img src="assets/images/peru/lima-museum-edit-300w.jpg">
                <img src="assets/images/peru/lima-parlament-edit-500w.jpg">
                <img src="assets/images/peru/lima-museum2-edit-300w.jpg">     
            </div> -->
<!--         </div>
    </div>
</div> -->


<% include partials/footer %>