<% include partials/header %>
<% include partials/banner %>


<div class="wrapper wrapper--smaller wrapper__line-spacing">
	<div class="two-column-flex two-column-flex__less-margin-b">
		<div class="two-column-flex__description">
			<h1 class="section-headers__title section-headers__title--less-bottom-margin">Overview</h1>
			<div class="two-column-flex__center-list">
				<a href="overview/bolivia" class="button button__ghost" id="button">Bolivia</a>
				<a href="overview/peru" class="button button__ghost">Peru</a>
				<a href="overview/ecuador" class="button button__ghost">Ecuador</a>
				<a href="overview/colombia" class="button button__ghost">Colombia</a>
			</div>

			<!-- Code for the quick link icons -->
			<!-- <span class="fa-stack fa-lg">
				<i class="fa fa-circle fa-stack-2x"></i>
				<i class="fa fa-plane fa-stack-1x fa-inverse"></i>
			</span> -->

			<p>
				Coming out of school, <strong> we did not have a lot of money to spend on travelling. </strong> We knew we wanted to do something significant, but didn’t have the funds to travel Europe or Australia for more than a month. &Machu Picchu& and the &Galapagos& were always on the top of our bucket list so we began our research on Peru, Ecuador and surrounding countries. We landed on Bolivia, Peru, Ecuador and Colombia because it met our main criteria: <strong>there were amazing mountains, beaches, wildlife and culture, and they were cheap! </strong>
			</p>
		</div>
		<div class="two-column-flex__image two-column-flex__image--no-border two-column-flex__image--margin-top">
			<img src="/assets/images/overview/south-america-map-cropped3.jpg" alt="Map of South America">
		</div>		
	</div>
	<p>
		Choosing affordable countries was important to give us the best bang for our buck. We wanted to visit some other countries like Brazil, Chile, and Argentina but after more research we determined they were far more pricey and decided to cut them out. 
	</p>
	<p>
		You can get some cheap flights in South America, but the bus is your most economical form of transportation. <strong>Choosing countries in a row is just logical and enabled us to stretch our money out over 3 months without compromising much.</strong> Check out our &Budget Blog& for a breakdown of our costs and tips on how to travel without spending a small fortune.  
	</p>
	<p class="section-headers__new-section">
		<i class="fa fa-map fa-lg"></i><span> Our Route - </span> &Check out the detailed city list by clicking on the country button&.
		We chose to begin our trip in &La Paz&, Bolivia mainly because of the prices of flights, they are pretty cheap from Canada to Bolivia. Obviously finding a cheap flight is important to reduce costs, but it’s not always possible to fly exactly where you want to! &Check out our route planner for tips& and our &tech guide& for awesome apps to find cheap flights. 
	</p>
	<picture class="pano">
        	<source srcset="/assets/images/overview/reilly-redsea-edit-1000w.jpg" media="(min-width:1000px)">
        	<source srcset="/assets/images/overview/reilly-redsea-edit-800w.jpg" media="(min-width:520px)">
        	<img srcset="/assets/images/overview/reilly-redsea-edit-600w.jpg" class="pano__image">
    </picture>
	<p>
		Our backup to La Paz was Lima, Peru. This is a very common starting point for a couple reasons. First, it’s available. Being the capital of Peru it is a large airport that has many connecting flights so the chances of finding a (cheap) flight here is high. Probably the most important reason Lima is a good starting point though is the altitude. Because Lima is located along the coast it’s obviously at sea level. This will give your body time to adjust as you start to slowly ascend in elevation. Take this seriously, you do not want to be sick on your Macchu Picchu trek! &read more here&
	</p>
	<p>
		Something you will need to factor in if you are planning to start your trip in &La Paz& is the <strong>altitude</strong>. I cannot stress enough <strong>how badly you can be affected by this.</strong> We also did not factor in the <strong>weather</strong>; Bolivia was cold when we got there as it was their winter. Also, Bolivia is much <strong>less touristy</strong> than the other countries we visited, which means less English speaking people.
	</p>
	<p class="section-headers__line-highlight">
		Overall, we are glad we started in Bolivia, but we wish we would have been <strong>more prepared</strong> for it.
	</p>
	<p>
		Our route was mainly <strong>mountains and coast.</strong> The route we chose was not by any means an original idea, it is a fairly popular route many people will take. It has been nicknamed the “gringo route” for its high backpacker activity. Almost all the cities/towns we visited had a clear tourist district and were fairly safe. 
	</p>
	<p>
		In case you were wondering, no we did not go into the Amazon at all; we intend for that to be a trip all on it’s own in the future. Again, <strong>we chose this for economical reason, we didn’t want to be spread too thin.</strong> If you have the budget we would 100% recommend planning a week long (minimum) adventure. Peru and Bolivia were popular countries to find trips out from. A quick tip, do your research. Apparently the mosquitos are nothing like you’ve ever seen before. 
	</p>
	<picture class="pano">
        	<source srcset="/assets/images/overview/quito-thomas-pano-1000w.JPG" media="(min-width:1000px)">
        	<source srcset="/assets/images/overview/quito-thomas-pano-800w.JPG" media="(min-width:520px)">
        	<img srcset="/assets/images/overview/quito-thomas-pano-600w.JPG" class="pano__image">
    </picture>
	<p>
		Originally the plan was to end in Medellin, Colombia, but halfway into our trip we made the decision to cut out most of Ecuador and do more of Colombia. We did this because of the feedback we were getting from other travellers coming from North to South. I think you will find the same, Colombia is amazing and you will want to spend as much time there as you can manage.
	</p>
	<p class="section-headers__line-highlight"> 
		Listen to other backpackers you meet. They are friendly and want to help, and can save you time and money by avoiding boring or overrated cities/activities. 
	</p>
	<p class="section-headers__new-section">
		<i class="fa fa-plane fa-2x"></i><span> Summary - </span> To be honest, we chose a route and <strong>general guideline of what we wanted to do and see,</strong> but much of that changed as we went along. We would recommend you do the same; <strong>allow yourself wiggle-room to modify your plans as you go.</strong> We ended up staying in many places for much longer and sometimes shorter than what we planned. South America is full of surprises, get excited. <br>
		Check out our &Guideline to planning your trip& blog to get more quick tips.
	</p>
</div>


<!-- <div class="three-pics-across">
	<div class="wrapper">
		<div class="three-pics-across__images">
			<div class="three-pics-across__single-wrapper">
				<a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
				<img src="/assets/images/overview/test2.JPG">
			</div>
			<div class="three-pics-across__single-wrapper">
				<a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
				<img src="/assets/images/overview/test2.JPG">
			</div>
			<!-- <div class="three-pics-across__single-wrapper">
				<div class="three-pics-across__image-modal"><span>Words</span></div>
				<img src="/assets/images/about-us/reilly-closeup-390w.JPG">
			</div>
		</div>
	</div>
</div> --> 

<% include partials/scrollTop %>
<% include partials/footer %>