<% include ../partials/header %>
<% include ../partials/banner %>

<div class="wrapper wrapper--smaller wrapper__line-spacing">
	<div class="two-column-flex two-column-flex__less-margin-b">
		<div class="two-column-flex__description">
			<h1 class="section-headers__title section-headers__title--less-bottom-margin">Bolivia</h1>

            <!-- Put the matching ID into the PARAGRAPH -->
            <div id="toplinks" class="top-links">
                <a href="#quick-facts"><i class="fa fa-globe fa-lg"></i> <span>Quick Facts</span></a> 
                <a href="#cities-visited"><i class="fa fa-map-marker fa-lg"></i> <span>Cities Visited</span></a>
                <a href="#our-experience"><i class="fa fa-thumbs-up fa-lg"></i> <span>Our Experience</span></a>
                <a href="#tips-and-tricks"><i class="fa fa-paper-plane fa-lg"></i> <span>Tips and Tricks</span></a>
                <a href="#our-highlights"><i class="fa fa-dot-circle-o fa-lg"></i> <span>Our Highlights</span></a>
            </div>


			<p>
				<strong>Bolivia is full of natural beauty.</strong> Home to some of the most breathtaking landscapes we had the pleasure of visiting, Bolivia is somewhere where you will get a <strong>completely authentic experience.</strong> Even the “touristy” areas of Bolivia are less touristy than most other cities we visited. For this reason it is amazing and difficult. Especially if this is the first country you are travelling to in South America, <strong>it will be a culture shock. </strong>
			</p>
		</div>
		<div class="two-column-flex__image two-column-flex__image--no-border two-column-flex__image--margin-top">
			<img src="/assets/images/overview/bolivia/bolivia-map-edit.jpg" alt="Map of South America">
		</div>		
	</div>

    <hr>

    <div class="two-column-flex two-column-flex__less-margin-b two-column-flex__facts-cities">
        <div class="two-column-flex__description">
            <p class="section-headers__new-section section-headers--center" id="quick-facts">
                <span><i class="fa fa-globe fa-lg"></i> Quick facts</span>
                <ul class="page-design__quick-facts-ul">
                    <li><strong>Population -</strong> 10.3 million</li>
                    <li><strong>Language -</strong> Spanish</li>
                    <li><strong>Currency -</strong> Boliviano</li>
                    <li><strong>Capital -</strong> Most people believe it is La Paz, but the official capital is Sucre. </li>
                    <li><strong>Visas -</strong> most countries do not need Visas except USA and South Africa. Both can be purchased upon entry, South Africa is about $50USD and US citizens will pay $135USD. This often changes, so check before you go.</li>
                    <li><strong>Tourist Card - </strong>valid for 30-90 days based on where you are from. Make sure you hold on to this card as you will have to produce it upon leaving the country. We had a friend who lost his and they literally made him give them all his Bolivianos and Soles to get into Peru.</li>
                </ul>
            </p>
        </div>
        <div class="two-column-flex__description">
            <p class="section-headers__new-section section-headers--center" id="cities-visited">
                <span><i class="fa fa-map-marker fa-lg"></i> Cities Visted</span>
                <ul class="page-design__quick-facts-ul">
                    <li><a href="">La Paz</a></li>
                    <li><a href="">Potosi</a></li>
                    <li><a href="">Sucre</a></li>
                    <li><a href="">Uyuni</a></li>
                    <li><a href="">Copacabana</a></li>
                    <li><a href="">Isla del Sol</a></li>
                </ul>
            </p>
        </div>    
    </div>

    <picture class="pano">
            <source data-srcset="/assets/images/overview/bolivia/bolivia-saltflats-pano-1000w.jpg" media="(min-width:1000px)" class="lazyload">
            <img data-srcset="/assets/images/overview/bolivia/bolivia-saltflats-pano-800w.jpg" class="pano__image lazyload">
    </picture>

    <p class="section-headers__new-section" id="our-experience">
        <span><i class="fa fa-thumbs-up fa-lg"></i> Our experience</span>
    </p>

	<p class="page-design__our-experience">
        <span>The Good</span>
		<ul class="page-design__our-experience--list">
            <li><strong>The natural beauty is unparallelled.</strong> There were bus rides where we could not take our eyes off the scenery passing us by.</li>
            <li><strong>The Salar de Uyuni alone is worth visiting Bolivia</strong>, in fact many people do just that when they go to South America. It was definitely one of the top three things we did on our entire trip. </li>  
            <li>Bolivia is a great place to treat yourself. Even in the tourist spots you will be spending much less here than any other country. This is the place to get drinks, apps and dessert without breaking the bank. </li>    
        </ul>
	</p>
    <p class="page-design__our-experience">
        <span>The Bad</span>
        <ul class="page-design__our-experience--list">
            <li>We found that in many cities in Bolivia the people seemed rude. This is for many reasons, I’m sure, but one of our tour guides explained one of the reasons to us. <strong>Bolivia is currently the poorest country in South America</strong> and when they see tourists they do not think of the potential economic benefit, they think that we are spoiled and rich. Which, let’s be honest, if we’re travelling we are more privileged than most in Bolivia. This means that when we want to bargain with the vendors it pisses them off. Now, that’s not to say you shouldn’t bargain, but you may have some more trouble here than in other countries.</li>
            <li>That being said, there are a plethora of <strong>kind, amazing individuals</strong> throughout this country, we just found them less prevalent than the other countries we visited.</li>  
            <li><strong>The food is not great.</strong> You will find that most of the food is fried or starch. When they try other foods, such as pizzas or burgers, they do it horribly. I would recommend cooking as much as you can and keeping one eye on TripAdvisor at all times.</li>
            <li>We also know that a lot of our problems stemmed from the fact that we did not speak Spanish when we arrived. You will be taken more seriously if you speak their language.</li>    
        </ul>
    </p>
    <p class="page-design__our-experience">
        <span>The Verdict</span>
        <p class="section-headers__line-highlight section-headers__line-highlight--smaller">
            Overall, we recommend Bolivia. This does depend on the type of traveller you are, but if you are up for a bit of discomfort, the reward is high! At the very minimum, make it down to Uyuni and do the 3 day Salar de Uyuni tour. You will not regret it. 
        </p>
    </p>
</div>

<div class="three-pics-across">
    <div class="wrapper">
        <div class="three-pics-across__images">
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Valle de la Luna</span></div></a>
                <img data-src="/assets/images/overview/bolivia/thomas-rocks-edit-390w.JPG" class="lazyload">
            </div>
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
                <img data-src="/assets/images/overview/bolivia/cacti-edit-390w.jpg" class="lazyload">
            </div>
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
                <img data-src="/assets/images/overview/bolivia/reilly-maragua-edit-390w.jpg" class="lazyload">
            </div>
        </div>
    </div>  
</div>

<div class="wrapper wrapper--smaller wrapper__line-spacing">
    <p class="section-headers__new-section" id="tips-and-tricks">
        <span><i class="fa fa-paper-plane fa-lg"></i> Tips and Tricks</span>
    </p>
    <p class="page-design__our-experience">
        <ul class="page-design__our-experience--list">
           <li>
               <strong>Do your research for everything!</strong> This is a general tip, obviously, but it is especially important in Bolivia! There is a huge difference in quality of products (busses, tours) in Bolivia more so than any other country. Check the internet for the best bus companies before going to the station or you will regret it. 
           </li>
           <li>
               <strong>Always keep an eye on your belongings -</strong>Again, always important, but we knew many people who had things stolen from them on busses because they weren’t being careful enough.
           </li>   
           <li>
               <strong>Tipping -</strong> tipping is generally not expected in Bolivia. We liked to leave a little extra when the service was good or food was exceptional. In more touristy areas you may want to tip at fancier restaurants, but anywhere from 5-10% is considered an appropriate tip. <strong>Tipping your tour guide</strong> is widely expected. Often the tour agencies pay their guides poorly and they will rely on your tips. It doesn’t have to be excessive, but if your guide does a good job, show him/her by tipping them. 
           </li>
           <li>
               <strong>Taxis -</strong> taxis in Bolivia are mostly regular cars with a small sign in the windows. Make sure you negotiate the cost before you get in the vehicle. You will be constantly honked at, this is just how they let you know that they are there and available. At first we were annoyed with it, but you get used to it. 
           </li>
           <li>
               <strong>Medication -</strong> Sorochi Pills are a must for almost every city in Bolivia. You will get used to the altitude, but you will need them for the first little bit. Dramamine will also save your life on the long windy bus rides and the Salar de Uyuni trip. 
           </li>
           <li>
               <strong>Bring warm clothes -</strong> Despite the days being warm, the nights can be seriously cold. Make sure to bring a nice warm sweater and even a hat/mits. They are useful at night to sleep, travelling on overnight busses, and when you go on your treks.
           </li>

        </ul>
    </p>
</div>

<div class="three-pics-across">
    <div class="wrapper wrapper--smaller">
        <div class="three-pics-across__images">
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
                <img data-src="/assets/images/overview/bolivia/jurrasic-llama-us-edit-390w.jpg" class="lazyload">
            </div>
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
                <img data-src="/assets/images/overview/bolivia/salar-water-edit-586w.jpg" class="lazyload">
            </div>
        </div>
    </div>
</div>


<div class="wrapper wrapper--smaller wrapper__line-spacing">
    <p class="section-headers__new-section" id="our-highlights">
        <span><i class="fa fa-dot-circle-o fa-lg"></i> Our Highlights</span>
    </p>
    <p class="page-design__our-experience">
        <ul class="page-design__our-experience--list">
           <li>
               <strong>Salar de Uyuni </strong> Go out of your way to do this tour. World famous salt flat tour and more!
           </li>
           <li>
               <strong>&Sucre&</strong> Plan to spend a couple nights in the REAL capital of Bolivia. 
           </li>  
        </ul>
    </p>
    <p class="section-headers__new-section">
        <span>Coulda Shoulda Woulda</span>
    </p>
    <p class="page-design__our-experience">
        <ul class="page-design__our-experience--list last-element"> 
           <li>
               <strong>&Death Road& </strong> A thrilling bike ride down La Paz’s most dangerous road
           </li>
           <li>
               <strong>&Potosi Mine Tour&</strong> A enlightening tour that will leave you speechless 
           </li>
        </ul>
    </p>
</div>


<% include ../partials/scrollTop %>
<% include ../partials/footer %>