<% include ../partials/header %>
<% include ../partials/banner %>

<div class="wrapper wrapper--smaller wrapper__line-spacing">
	<div class="two-column-flex two-column-flex__less-margin-b">
		<div class="two-column-flex__description">
			<h1 class="section-headers__title section-headers__title--less-bottom-margin">Bolivia</h1>
			<!-- <div class="two-column-flex__center-list">
				<a href="overview/bolivia" class="button button__ghost" id="button">Bolivia</a>
				<a href="overview/peru" class="button button__ghost">Peru</a>
				<a href="overview/ecuador" class="button button__ghost">Ecuador</a>
				<a href="overview/colombia" class="button button__ghost">Colombia</a>
			</div> -->
            <div id="toplinks">
                <a href="#first">First</a> 
                <a href="#second">Second</a>
            </div>
			<p>
				<strong>Bolivia is full of natural beauty.</strong> Home to some of the most breathtaking landscapes we had the pleasure of visiting, Bolivia is somewhere where you will get a <strong>completely authentic experience.</strong> Even the “touristy” areas of Bolivia are less touristy than most other cities we visited. For this reason it is amazing and difficult. Especially if this is the first country you are travelling to in South America, <strong>it will be a culture shock. </strong>
			</p>
		</div>
		<div class="two-column-flex__image two-column-flex__image--no-border two-column-flex__image--margin-top">
			<img src="/assets/images/overview/bolivia/bolivia-map-edit.jpg" alt="Map of South America">
		</div>		
	</div>

    <hr>

    <div class="two-column-flex two-column-flex__less-margin-b two-column-flex__facts-cities">
        <div class="two-column-flex__description">
            <p class="section-headers__new-section section-headers--center">
                <span >Quick facts</span>
                <ul class="page-design__quick-facts-ul">
                    <li>Population - 10.3 million</li>
                    <li>Language - Spanish</li>
                    <li>Currency - Boliviano</li>
                    <li>Capital - Most people believe it is La Paz, but the official capital is Sucre. </li>
                    <li>Visas - most countries do not need Visas except USA and South Africa. Both can be purchased upon entry, South Africa is about $50USD and US citizens will pay $135USD. This often changes, so check before you go.</li>
                    <li>Tourist Card - valid for 30-90 days based on where you are from. Make sure you hold on to this card as you will have to produce it upon leaving the country. We had a friend who lost his and they literally made him give them all his Bolivianos and Soles to get into Peru.</li>
                </ul>
            </p>
        </div>
        <div class="two-column-flex__description">
            <p class="section-headers__new-section section-headers--center">
                <span>Cities Visted</span>
                <ul class="page-design__quick-facts-ul">
                    <li><a href="">La Paz</a></li>
                    <li><a href="">Potosi</a></li>
                    <li><a href="">Sucre</a></li>
                    <li><a href="">Uyuni</a></li>
                    <li><a href="">Copacabana</a></li>
                    <li><a href="">Isla del Sol</a></li>
                </ul>
            </p>
        </div>    
    </div>

    <picture class="pano">
            <source srcset="/assets/images/overview/bolivia/bolivia-saltflats-pano-1000w.jpg" media="(min-width:1000px)">
            <img srcset="/assets/images/overview/bolivia/bolivia-saltflats-pano-800w.jpg" class="pano__image">
    </picture>

    <p class="section-headers__new-section">
        <span>Our experience</span>
    </p>

	<p class="page-design__our-experience">
        <span>The Good</span>
		<ul class="page-design__our-experience--list">
            <li><strong>The natural beauty is unparallelled.</strong> There were bus rides where we could not take our eyes off the scenery passing us by.</li>
            <li><strong>The Salar de Uyuni alone is worth visiting Bolivia</strong>, in fact many people do just that when they go to South America. It was definitely one of the top three things we did on our entire trip. </li>  
            <li>Bolivia is a great place to treat yourself. Even in the tourist spots you will be spending much less here than any other country. This is the place to get drinks, apps and dessert without breaking the bank. </li>    
        </ul>
	</p>
    <p class="page-design__our-experience">
        <span>The Bad</span>
        <ul class="page-design__our-experience--list">
            <li>We found that in many cities in Bolivia the people seemed rude. This is for many reasons, I’m sure, but one of our tour guides explained one of the reasons to us. <strong>Bolivia is currently the poorest country in South America</strong> and when they see tourists they do not think of the potential economic benefit, they think that we are spoiled and rich. Which, let’s be honest, if we’re travelling we are more privileged than most in Bolivia. This means that when we want to bargain with the vendors it pisses them off. Now, that’s not to say you shouldn’t bargain, but you may have some more trouble here than in other countries.</li>
            <li>That being said, there are a plethora of <strong>kind, amazing individuals</strong> throughout this country, we just found them less prevalent than the other countries we visited.</li>  
            <li><strong>The food is not great.</strong> You will find that most of the food is fried or starch. When they try other foods, such as pizzas or burgers, they do it horribly. I would recommend cooking as much as you can and keeping one eye on TripAdvisor at all times.</li>
            <li>We also know that a lot of our problems stemmed from the fact that we did not speak Spanish when we arrived. You will be taken more seriously if you speak their language.</li>    
        </ul>
    </p>
    <p class="page-design__our-experience">
        <span>Verdict</span>
        <!-- <p class="page-design__our-experience--verdict">
            We recommend visiting Bolivia. This does depend on the type of traveller you are, but if you are up for a bit of discomfort the reward is high! At the very minimum, make it down to Uyuni and do the 3 day salt flat tour. You will not regret it.  
        </p> -->
        <p class="section-headers__line-highlight section-headers__line-highlight--smaller">
            We recommend visiting Bolivia. This does depend on the type of traveller you are, but if you are up for a bit of discomfort, the reward is high! At the very minimum, make it down to Uyuni and do the 3 day salt flat tour. You will not regret it. 
        </p>

    </p>


    <p class="section-headers__new-section">
        <span>Quick facts:</span>
        <ul class="page-design__quick-facts-ul">
            <li>hey</li>
        </ul>
    </p>
</div>




	<!-- <div id="toplinks">
		<a href="#first">First</a> 
		<a href="#second">Second</a>
	</div>

	<p id="first"><strong>First</strong>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<p id="second"><strong>Second</strong>
    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    -->
<!-- </div> -->



<% include ../partials/scrollTop %>
<% include ../partials/footer %>