<% include ../partials/header %>
<% include ../partials/banner %>

<div class="wrapper wrapper--smaller wrapper__line-spacing">
	<div class="two-column-flex two-column-flex__less-margin-b">
		<div class="two-column-flex__description">
			<h1 class="section-headers__title section-headers__title--less-bottom-margin">Colombia</h1>

            <!-- Put the matching ID into the PARAGRAPH -->
            <div id="toplinks" class="top-links">
                <a href="#quick-facts"><i class="fa fa-globe fa-lg"></i> <span>Quick Facts</span></a> 
                <a href="#cities-visited"><i class="fa fa-map-marker fa-lg"></i> <span>Cities Visited</span></a>
                <a href="#our-experience"><i class="fa fa-thumbs-up fa-lg"></i> <span>Our Experience</span></a>
                <a href="#tips-and-tricks"><i class="fa fa-paper-plane fa-lg"></i> <span>Tips and Tricks</span></a>
                <a href="#our-highlights"><i class="fa fa-dot-circle-o fa-lg"></i> <span>Our Highlights</span></a>
            </div>


			<p>
				Colombia may not have Machu Picchu or the Galapagos, but we loved every city we visited here. If we could return to one of the countries that we visited and stay for an extended period of time it would undoubtedly be Colombia. The people, weather, food and rolling hills are unbeatable. 
			</p>
		</div>
		<div class="two-column-flex__image two-column-flex__image--no-border two-column-flex__image--margin-top">
			<img src="/assets/images/overview/ecuador/ecuador-map.jpg" alt="Map of South America">
		</div>		
	</div>

    <hr>

    <div class="two-column-flex two-column-flex__less-margin-b two-column-flex__facts-cities">
        <div class="two-column-flex__description">
            <p class="section-headers__new-section section-headers--center" id="quick-facts">
                <span><i class="fa fa-globe fa-lg"></i> Quick facts</span>
                <ul class="page-design__quick-facts-ul">
                    <li><strong>Population -</strong> 46.3 million</li>
                    <li><strong>Language -</strong> Spanish</li>
                    <li><strong>Currency -</strong> Colombian Peso (COP)</li>
                    <li><strong>Capital -</strong> Bogota</li>
                    <li><strong>Visas -</strong> you will not need to obtain any type of Visa before entering Colombia.</li>
                    <li><strong>Tourist Entrance - </strong> you will get a stamp in your passport upon arrival for 60 days, you can extend it for a fee. <strong>For Canadians </strong> there is an extra fee in response to Canada’s entrance fee for Colombians. It is $160,000 COP (around $80 CAD).</li>
                </ul>
            </p>
        </div>
        <div class="two-column-flex__description">
            <p class="section-headers__new-section section-headers--center" id="cities-visited">
                <span><i class="fa fa-map-marker fa-lg"></i> Cities Visted</span>
                <ul class="page-design__quick-facts-ul">
                    <li><a href="">Popayan</a></li>
                    <li><a href="">Cali</a></li>
                    <li><a href="">Salento</a></li>
                    <li><a href="">Medellín</a></li>
                    <li><a href="">Santa Marta</a></li>
                    <li><a href="">Minca</a></li>
                    <li><a href="">Cartagena</a></li>
                </ul>
            </p>
        </div>    
    </div>

    <!-- <picture class="pano">
            <source data-srcset="/assets/images/overview/ecuador/galapagos-tortuga1-edit-1000w.jpg" media="(min-width:1000px)" class="lazyload">
            <img data-srcset="/assets/images/overview/ecuador/galapagos-tortuga1-edit-800w.jpg" class="pano__image lazyload">
    </picture> -->

    <picture class="pano">
            <source data-srcset="/assets/images/overview/ecuador/ecuador-quito-church1-edit-1000w.jpg" media="(min-width:1000px)" class="lazyload">
            <img data-srcset="/assets/images/overview/ecuador/ecuador-quito-church1-edit-800w.jpg" class="pano__image lazyload">
    </picture>

    <p class="section-headers__new-section" id="our-experience">
        <span><i class="fa fa-thumbs-up fa-lg"></i> Our experience</span>
    </p>

    <p class="page-design__our-experience">
        <span>Route</span>
		<p class="page-design__our-experience__route">
			A little quick summar of the specific route we took, why, etc. Needs to be updated for all the others too. 
		</p> 
	</p>

	<p class="page-design__our-experience">
        <span>The Good</span>
		<ul class="page-design__our-experience--list">
            <li><strong>Peru is full of natural and manmade beauty. </strong> Whatever you’re into you will find something to suit you. </li>
            <li><strong>Machu Picchu.</strong> It goes without saying, but there’s a reason people will travel across the world to see this world wonder. No matter how many pictures you’ve seen, it will still astound you.</li>  
            <li>It’s good for the budget unless you are in very touristy areas. </li>    
        </ul>
	</p>
    <p class="page-design__our-experience">
        <span>The Bad</span>
        <ul class="page-design__our-experience--list">
            <li><strong>You will get ripped off if you allow it.</strong> Make sure you are bargaining almost everything you do, especially when it comes to tours.</li>
            <li>As always, <strong> do your research on every tour company. </strong> Many will rip you off or just straight up lie to you for your business. Always look the agencies up on TripAdvisor and read the reviews. Consequently, leave yourself at least a day or two to do your research before booking.</li>  
            <li>Certain places can be very touristy, but usually it is for good reason. As a whole, <strong>it was more of a tourist destination than the other countries we visited.</strong></li>
            <li>The food is much of the same, although a step up from Bolivia. You will still find that everything is fried with two starch sides. </li>    
        </ul>
    </p>
    <p class="page-design__our-experience">
        <span>The Verdict</span>
        <p class="section-headers__line-highlight section-headers__line-highlight--smaller">
            <strong>Peru is a must-see in your lifetime. </strong> Obviously many people come just for Machu Picchu, and if you can only do one thing then that’s it, but there is so much to Peru. Allow yourself time to explore and really soak in the culture and beauty Peru has to offer.  
        </p>
    </p>
</div>

<div class="three-pics-across">
    <div class="wrapper">
        <div class="three-pics-across__images">
        	<div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
                <img data-src="/assets/images/overview/ecuador/galaps-seal1-edit-390w.jpg" class="lazyload">
            </div>
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Valle de la Luna</span></div></a>
                <img data-src="/assets/images/overview/ecuador/galaps-beach1-edit-390w.jpg" class="lazyload">
            </div>
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
                <img data-src="/assets/images/overview/ecuador/galaps-tortoise1-edit-390w.jpg" class="lazyload">
            </div>
            
        </div>
    </div>  
</div>

<div class="wrapper wrapper--smaller wrapper__line-spacing">
    <p class="section-headers__new-section" id="tips-and-tricks">
        <span><i class="fa fa-paper-plane fa-lg"></i> Tips and Tricks</span>
    </p>
    <p class="page-design__our-experience">
        <ul class="page-design__our-experience--list">
           <li>
               <strong>Pablo Escobar -</strong> you may think that Escobar is very interesting and find that you want to ask a lot of questions about it. You need to remember that Escobar was killed in 1993, which means that most of these Colombians lived through the terror. Someone we met compared it to the Holocaust where that’s a part of Germany’s history. Here, they are still recovering from it and it is something they are trying to get over. Colombian have also been trying to create tourism and a good name for their amazing country. Please be aware that <strong>this is still fresh for them</strong> so do not walk around the streets speaking his name. One of our tour guides in Medellin pointed out that since most Colombians can’t speak English, they will just hear his name and not know what context you are speaking about him in and assume the worst. Just be conscious. 
           </li>
           <li>
               Although the security has risen in the last little while you need to <strong>be extra careful in Colombia</strong>, especially big cities like Medellin. We heard stories of large groups of people getting mugged at 7pm outside their hostel. Best advice is to only bring what you need with you and just comply with the demands of any muggers. 
           </li> 
           <li>
           		With that being said, the drug people are friendly... post that shit here. 
           </li>
           <li>
               <strong> When to Visit - always!</strong> But try and avoid tourist season which is December to February where the prices will be higher. 
           </li> 
           <li>
               <strong> Take flights between cities that are far apart -</strong> The flights are very cheap in Colombia! Their  and the roads are windy, look into flights when you can.
        </ul>
    </p>
</div>

<div class="three-pics-across">
    <div class="wrapper wrapper--smaller">
        <div class="three-pics-across__images">
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
                <img data-src="/assets/images/overview/ecuador/ecuador-mote1-edit-390w.jpg" class="lazyload">
            </div>
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
                <img data-src="/assets/images/overview/ecuador/ecuador-quito-president1-edit-390w.jpg" class="lazyload">
            </div>
        </div>
    </div>
</div>


<div class="wrapper wrapper--smaller wrapper__line-spacing">
    <p class="section-headers__new-section" id="our-highlights">
        <span><i class="fa fa-dot-circle-o fa-lg"></i> Our Highlights</span>
    </p>
    <p class="page-design__our-experience">
        <ul class="page-design__our-experience--list">
           <li>
               <strong>&Medellin& </strong> the best “big city” we visited. Take in a football match! 
           </li>
           <li>
               <strong>&Salento&</strong> The coffee region. You'll love this small city and hiking the Valle de Cocora
           </li>  
            <li>
               <strong>&Tayrona National Park&</strong> bring lots of water for these hikes, they’re hawt!
           </li>
           <li>
               <strong>&Minca&</strong> stay at teh hostel Casa Elemento, the home of the "worlds largest hammock".
           </li>  
           <li>
               <strong>&Cartagena&</strong> an old spanish fort along the coast turned to tourist heaven, then visit the mud volcano for some R&R
           </li>    
        </ul>
    </p>
    <p class="section-headers__new-section">
        <span>Coulda Shoulda Woulda</span>
    </p>
    <p class="page-design__our-experience">
        <ul class="page-design__our-experience--list last-element"> 
           <li>
               <strong>&The Lost City Trek&</strong> trek to an ancient site dating back BEFORE Machu Picchu. Considered to be a close second to the MP trek minus the enormous tourist population. We would have loved to do this trek, but we didn’t have enough time at the end of our trip. We heard amazing things, but be aware that you will be sweaty!
           </li>
           <li>
               <strong>&San Agustin&</strong> the archeological park here is the main draw, but there is much more to discover in San Agustin. 
           </li>
        </ul>
    </p>
</div>

<% include ../partials/scrollTop %>
<% include ../partials/footer %>