<% include ../partials/header %>
<% include ../partials/banner %>

<div class="wrapper wrapper--smaller wrapper__line-spacing">
	<div class="two-column-flex two-column-flex__less-margin-b">
		<div class="two-column-flex__description">
			<h1 class="section-headers__title section-headers__title--less-bottom-margin">Ecuador</h1>

            <!-- Put the matching ID into the PARAGRAPH -->
            <div id="toplinks" class="top-links">
                <a href="#quick-facts"><i class="fa fa-globe fa-lg"></i> <span>Quick Facts</span></a> 
                <a href="#cities-visited"><i class="fa fa-map-marker fa-lg"></i> <span>Cities Visited</span></a>
                <a href="#our-experience"><i class="fa fa-thumbs-up fa-lg"></i> <span>Our Experience</span></a>
                <a href="#tips-and-tricks"><i class="fa fa-paper-plane fa-lg"></i> <span>Tips and Tricks</span></a>
                <a href="#our-highlights"><i class="fa fa-dot-circle-o fa-lg"></i> <span>Our Highlights</span></a>
            </div>


			<p>
				Ecuador, like Peru, has a plethora of terrains to explore from mountains and volcanos to the coastline and jungle. There is so much to see and do in Ecuador as it is one of the world’s most biodiverse countries, undoubtedly largely due to the Galapagos Islands. 
			</p>
		</div>
		<div class="two-column-flex__image two-column-flex__image--no-border two-column-flex__image--margin-top">
			<img src="/assets/images/overview/peru/peru-map.jpg" alt="Map of South America">
		</div>		
	</div>

    <hr>

    <div class="two-column-flex two-column-flex__less-margin-b two-column-flex__facts-cities">
        <div class="two-column-flex__description">
            <p class="section-headers__new-section section-headers--center" id="quick-facts">
                <span><i class="fa fa-globe fa-lg"></i> Quick facts</span>
                <ul class="page-design__quick-facts-ul">
                    <li><strong>Population -</strong> 14.9 million</li>
                    <li><strong>Language -</strong> Spanish</li>
                    <li><strong>Currency -</strong> US Dollar</li>
                    <li><strong>Capital -</strong> Quito </li>
                    <li><strong>Visas -</strong> You will not require a Visa, you can stay for 90 days at a time and if you wish to extend it you must go to the immigration office on the day it expires and officer will decide whether to allow it or not. If you allow it to expire you will be fined $200USD. </li>
                    <li><strong>T3 Tourist Card - </strong> this will allow you the 90 days. As with all the tourist cards, you must keep it until you exit the country or you will be fined.</li>
                </ul>
            </p>
        </div>
        <div class="two-column-flex__description">
            <p class="section-headers__new-section section-headers--center" id="cities-visited">
                <span><i class="fa fa-map-marker fa-lg"></i> Cities Visted</span>
                <ul class="page-design__quick-facts-ul">
                    <li><a href="">Guayaquil</a></li>
                    <li><a href="">Galapagos Islands</a></li>
                    <li><a href="">Quito</a></li>
                </ul>
            </p>
        </div>    
    </div>

    <picture class="pano">
            <source data-srcset="/assets/images/overview/peru/peru-mp-pano1-edit-1000w.jpg" media="(min-width:1000px)" class="lazyload">
            <img data-srcset="/assets/images/overview/peru/peru-mp-pano1-edit-800w.jpg" class="pano__image lazyload">
    </picture>

    <p class="section-headers__new-section" id="our-experience">
        <span><i class="fa fa-thumbs-up fa-lg"></i> Our experience</span>
        <p>Make sure you plan the time of the year you will travel based on what type of activities you want to do. If you want to trek, June to September are the best months, but from April to November you will find a heavy fog over the coast, especially Lima. </p>
        <p>You will find that Peru is much more tourist driven in general. This makes travelling through Peru much easier than the other countries. Also, if you are coming from Bolivia you will find a huge improvement in travel (busses especially) quality. </p>
    </p>

	<p class="page-design__our-experience">
        <span>The Good</span>
		<ul class="page-design__our-experience--list">
            <li><strong>Peru is full of natural and manmade beauty. </strong> Whatever you’re into you will find something to suit you. </li>
            <li><strong>Machu Picchu.</strong> It goes without saying, but there’s a reason people will travel across the world to see this world wonder. No matter how many pictures you’ve seen, it will still astound you.</li>  
            <li>It’s good for the budget unless you are in very touristy areas. </li>    
        </ul>
	</p>
    <p class="page-design__our-experience">
        <span>The Bad</span>
        <ul class="page-design__our-experience--list">
            <li><strong>You will get ripped off if you allow it.</strong> Make sure you are bargaining almost everything you do, especially when it comes to tours.</li>
            <li>As always, <strong> do your research on every tour company. </strong> Many will rip you off or just straight up lie to you for your business. Always look the agencies up on TripAdvisor and read the reviews. Consequently, leave yourself at least a day or two to do your research before booking.</li>  
            <li>Certain places can be very touristy, but usually it is for good reason. As a whole, <strong>it was more of a tourist destination than the other countries we visited.</strong></li>
            <li>The food is much of the same, although a step up from Bolivia. You will still find that everything is fried with two starch sides. </li>    
        </ul>
    </p>
    <p class="page-design__our-experience">
        <span>The Verdict</span>
        <p class="section-headers__line-highlight section-headers__line-highlight--smaller">
            <strong>Peru is a must-see in your lifetime. </strong> Obviously many people come just for Machu Picchu, and if you can only do one thing then that’s it, but there is so much to Peru. Allow yourself time to explore and really soak in the culture and beauty Peru has to offer.  
        </p>
    </p>
</div>

<div class="three-pics-across">
    <div class="wrapper">
        <div class="three-pics-across__images">
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Valle de la Luna</span></div></a>
                <img data-src="/assets/images/overview/peru/peru-huaraz-mountains-edit-390w.jpg" class="lazyload">
            </div>
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
                <img data-src="/assets/images/overview/peru/peru-huaraz-blue-edit-390w.jpg" class="lazyload">
            </div>
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
                <img data-src="/assets/images/overview/peru/peru-mp-mountains1-edit-390w.jpg" class="lazyload">
            </div>
            
        </div>
    </div>  
</div>

<div class="wrapper wrapper--smaller wrapper__line-spacing">
    <p class="section-headers__new-section" id="tips-and-tricks">
        <span><i class="fa fa-paper-plane fa-lg"></i> Tips and Tricks</span>
    </p>
    <p class="page-design__our-experience">
        <ul class="page-design__our-experience--list">
           <li>
               <strong>Always take marked taxis -</strong> Theft is becoming an increased problem especially in tourist areas. No matter how close you are to your destination, take marked taxis, better safe than sorry.
           </li>
           <li>
               The temperature in Ecuador varies by region. Quito weather reports will say it will rain everyday and you will not be able to find a cloud in the sky. Check the region you will be visiting to determine the best time to visit. 
           </li> 
           <li>
               <strong> Bargain - </strong> This is especially true in the Galapagos when trying to find accommodations. Stick to your guns and save some money. 
           </li>   
        </ul>
    </p>
</div>

<div class="three-pics-across">
    <div class="wrapper">
        <div class="three-pics-across__images">
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
                <img data-src="/assets/images/overview/peru/peru-huaraz-moutains2-edit-390w.jpg" class="lazyload">
            </div>
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
                <img data-src="/assets/images/overview/peru/peru-mancora1-edit-390w.jpg" class="lazyload">
            </div>
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
                <img data-src="/assets/images/overview/peru/peru-huaraz-blue2-edit-390w.jpg" class="lazyload">
            </div>
        </div>
    </div>
</div>


<div class="wrapper wrapper--smaller wrapper__line-spacing">
    <p class="section-headers__new-section" id="our-highlights">
        <span><i class="fa fa-dot-circle-o fa-lg"></i> Our Highlights</span>
    </p>
    <p class="page-design__our-experience">
        <ul class="page-design__our-experience--list">
           <li>
               <strong>&Galapagos& </strong> expensive, but if you can afford it, it’s unbeatable.
           </li>
           <li>
               <strong>&Quito &</strong> Probably the coolest capital we visited. So many things to see and explore. 
           </li>  
            <li>
               <strong>&The Middle of the World&</strong> An awesome day trip from Quito. It's the middle of the earth!  
           </li>  
        </ul>
    </p>
    <p class="section-headers__new-section">
        <span>Coulda Shoulda Woulda</span>
    </p>
    <p class="page-design__our-experience">
        <ul class="page-design__our-experience--list last-element"> 
           <li>
               <strong>&Otavalo Saturday Market& </strong>easily the best market in Ecuador, if not all of South America. You must go on Saturday for the best experience. You can find day trips from Quito or stay there overnight. 

           </li>
           <li>
               <strong>&Volcan Cotopaxi&</strong> an amazing, difficult climb to almost 5900 meters above sea level.
           </li>
           <li>
               <strong>&Banos&</strong> most famously known for their thermal springs, it is an idyllic destination. 

           </li>
           <li>
               <strong>&Nazca Lines&</strong> The mysterious Nazca lines. What are they doing there?!
           </li>
        </ul>
    </p>
</div>


<% include ../partials/scrollTop %>
<% include ../partials/footer %>