<% include ../partials/header %>
<% include ../partials/banner %>

<div class="wrapper wrapper--smaller wrapper__line-spacing">
	<div class="two-column-flex two-column-flex__less-margin-b">
		<div class="two-column-flex__description">
			<h1 class="section-headers__title section-headers__title--less-bottom-margin">Ecuador</h1>

            <!-- Put the matching ID into the PARAGRAPH -->
            <div id="toplinks" class="top-links">
                <a href="#quick-facts"><i class="fa fa-globe fa-lg"></i> <span>Quick Facts</span></a> 
                <a href="#cities-visited"><i class="fa fa-map-marker fa-lg"></i> <span>Cities Visited</span></a>
                <a href="#our-experience"><i class="fa fa-thumbs-up fa-lg"></i> <span>Our Experience</span></a>
                <a href="#tips-and-tricks"><i class="fa fa-paper-plane fa-lg"></i> <span>Tips and Tricks</span></a>
                <a href="#our-highlights"><i class="fa fa-dot-circle-o fa-lg"></i> <span>Our Highlights</span></a>
            </div>
			<p>
				Ecuador, like Peru, has a plethora of terrains to explore from mountains and volcanos to the coastline and jungle. There is so much to see and do in Ecuador as it is one of the world’s most biodiverse countries, undoubtedly largely due to the Galapagos Islands. 
			</p>
			<p>
				We unfortunately don’t have a lot to say about the mainland of Ecuador because of our decision to cut most of it out. We have heard great things about Ecuador, we just can’t speak to a lot of them from experience. From what we did see, we loved Ecuador. The country, like all South American countries, has so much history that sounds like something out of a book. 
			</p>
		</div>
		<div class="two-column-flex__image two-column-flex__image--no-border two-column-flex__image--margin-top">
			<img src="/assets/images/overview/ecuador/ecuador-map.jpg" alt="Map of South America">
		</div>		
	</div>

    <hr>

    <div class="two-column-flex two-column-flex__less-margin-b two-column-flex__facts-cities">
        <div class="two-column-flex__description">
            <p class="section-headers__new-section section-headers--center" id="quick-facts">
                <span><i class="fa fa-globe fa-lg"></i> Quick facts</span>
                <ul class="page-design__quick-facts-ul">
                    <li><strong>Population -</strong> 14.9 million</li>
                    <li><strong>Language -</strong> Spanish</li>
                    <li><strong>Currency -</strong> US Dollar</li>
                    <li><strong>Capital -</strong> Quito </li>
                    <li><strong>Visas -</strong> You will not require a Visa, you can stay for 90 days at a time and if you wish to extend it you must go to the immigration office on the day it expires and officer will decide whether to allow it or not. If you allow it to expire you will be fined $200USD. </li>
                    <li><strong>T3 Tourist Card - </strong> this will allow you the 90 days. As with all the tourist cards, you must keep it until you exit the country or you will be fined.</li>
                </ul>
            </p>
        </div>
        <div class="two-column-flex__description">
            <p class="section-headers__new-section section-headers--center" id="cities-visited">
                <span><i class="fa fa-map-marker fa-lg"></i> Cities Visted</span>
                <ul class="page-design__quick-facts-ul">
                    <li><a href="">Guayaquil</a></li>
                    <li><a href="">Galapagos Islands</a></li>
                    <li><a href="">Quito</a></li>
                </ul>
            </p>
        </div>    
    </div>

    <!-- <picture class="pano">
            <source data-srcset="/assets/images/overview/ecuador/galapagos-tortuga1-edit-1000w.jpg" media="(min-width:1000px)" class="lazyload">
            <img data-srcset="/assets/images/overview/ecuador/galapagos-tortuga1-edit-800w.jpg" class="pano__image lazyload">
    </picture> -->

    <picture class="pano">
            <source data-srcset="/assets/images/overview/ecuador/ecuador-quito-church1-edit-1000w.jpg" media="(min-width:1000px)" class="lazyload">
            <img data-srcset="/assets/images/overview/ecuador/ecuador-quito-church1-edit-800w.jpg" class="pano__image lazyload">
    </picture>

    <p class="section-headers__new-section" id="our-experience">
        <span><i class="fa fa-thumbs-up fa-lg"></i> Our experience</span>
    </p>

    <p class="page-design__our-experience">
    <span>Route</span>
    <div class="page-design__our-experience__route">
    <p>
        Coming from Peru, we took a bus from Mancora directly to Guayaquil. From here we flew to the Galapagos Islands where we visited each of the three islands by boat. After that adventure we flew back to Ecuador’s capital, Quito, and then headed north into Colombia!
      </p>
      <p class="page-design__highlight-paragraph">
        Our original plan for Ecuador was completely different. Between Guayaquil and Quito there are many cities that we wanted to see. Unfortunately, due to our limited budget and timeframe we decided to shorten our stay in Ecuador to enable us to make it to the northern coast of Colombia.   
      </p>
      <p>
      	If we had more time, we would have flown back to Guayaquil and travelled north by bus and visited cities in between such as Baños, San Agustín, and Riobamba.      
      </p>
    </div>
  </p>

	<p class="page-design__our-experience">
        <span>The Good</span>
		<ul class="page-design__our-experience--list">
            <li><strong>The Galapagos Islands are an amazing place that everyone should experience in their lifetime. </strong></li>
            <li>The people in Ecuador were some of the better people we have met. They have a rich history that you should take the time to learn; Quito is a great place to learn about their change to the USD and string of presidential assassinations. </li>  
            <li>Quito was one of our favourite cities because of all the things to see and do. It has a great backpacking scene and is affordable.</li>    
        </ul>
	</p>
    <p class="page-design__our-experience">
        <span>The Bad</span>
        <ul class="page-design__our-experience--list">
            <li>The prices in the Galapagos are outrageous (for the common backpacker). In general we found Ecuador to be slightly more expensive simply because it uses the USD. We also only visited big cities and the Galapagos, so our sample size may be too small to have a definitive answer for that.</li>    
        </ul>
    </p>
    <p class="page-design__our-experience">
        <span>The Verdict</span>
        <p class="section-headers__line-highlight section-headers__line-highlight--smaller">
            If you are into nature, wildlife, and adventure, you cannot pass on the chance to visit the Galapagos Islands. Make sure you budget accordingly though. We really enjoyed Quito as well and wish we would have had the time to do more in Ecuador. 
        </p>
    </p>
</div>

<div class="three-pics-across">
    <div class="wrapper">
        <div class="three-pics-across__images">
        	<div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
                <img data-src="/assets/images/overview/ecuador/galaps-seal1-edit-390w.jpg" class="lazyload">
            </div>
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Valle de la Luna</span></div></a>
                <img data-src="/assets/images/overview/ecuador/galaps-beach1-edit-390w.jpg" class="lazyload">
            </div>
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
                <img data-src="/assets/images/overview/ecuador/galaps-tortoise1-edit-390w.jpg" class="lazyload">
            </div>
            
        </div>
    </div>  
</div>

<div class="wrapper wrapper--smaller wrapper__line-spacing">
    <p class="section-headers__new-section" id="tips-and-tricks">
        <span><i class="fa fa-paper-plane fa-lg"></i> Tips and Tricks</span>
    </p>
    <p class="page-design__our-experience">
        <ul class="page-design__our-experience--list">
           <li>
               <strong>Always take marked taxis -</strong> Theft is becoming an increased problem especially in tourist areas. No matter how close you are to your destination, take marked taxis, better safe than sorry.
           </li>
           <li>
               The temperature in Ecuador varies by region. Quito weather reports will say it will rain everyday and you will not be able to find a cloud in the sky. Check the region you will be visiting to determine the best time to visit. 
           </li> 
           <li>
               <strong> Bargain - </strong> This is especially true in the Galapagos when trying to find accommodations. Stick to your guns and save some money. 
           </li>   
        </ul>
    </p>
</div>

<div class="three-pics-across">
    <div class="wrapper wrapper--smaller">
        <div class="three-pics-across__images">
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
                <img data-src="/assets/images/overview/ecuador/ecuador-mote1-edit-390w.jpg" class="lazyload">
            </div>
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
                <img data-src="/assets/images/overview/ecuador/ecuador-quito-president1-edit-390w.jpg" class="lazyload">
            </div>
        </div>
    </div>
</div>


<div class="wrapper wrapper--smaller wrapper__line-spacing">
    <p class="section-headers__new-section" id="our-highlights">
        <span><i class="fa fa-dot-circle-o fa-lg"></i> Our Highlights</span>
    </p>
    <p class="page-design__our-experience">
        <ul class="page-design__our-experience--list">
           <li>
               <strong>&Galapagos& </strong> expensive, but if you can afford it, it’s unbeatable.
           </li>
           <li>
               <strong>&Quito &</strong> Probably the coolest capital we visited. So many things to see and explore. 
           </li>  
            <li>
               <strong>&The Middle of the World&</strong> An awesome day trip from Quito. It's the middle of the earth!  
           </li>  
        </ul>
    </p>
    <p class="section-headers__new-section">
        <span>Coulda Shoulda Woulda</span>
    </p>
    <p class="page-design__our-experience">
        <ul class="page-design__our-experience--list last-element"> 
           <li>
               <strong>&Otavalo Saturday Market& </strong>easily the best market in Ecuador, if not all of South America. You must go on Saturday for the best experience. You can find day trips from Quito or stay there overnight. 

           </li>
           <li>
               <strong>&Volcan Cotopaxi&</strong> an amazing, difficult climb to almost 5900 meters above sea level.
           </li>
           <li>
               <strong>&Banos&</strong> most famously known for their thermal springs, it is an idyllic destination. 

           </li>
           <li>
               <strong>&Nazca Lines&</strong> The mysterious Nazca lines. What are they doing there?!
           </li>
        </ul>
    </p>
</div>


<% include ../partials/scrollTop %>
<% include ../partials/footer %>