<% include ../partials/header %>
<% include ../partials/banner %>

<div class="wrapper wrapper--smaller wrapper__line-spacing">
	<div class="two-column-flex two-column-flex__less-margin-b">
		<div class="two-column-flex__description">
			<h1 class="section-headers__title section-headers__title--less-bottom-margin">Peru</h1>

            <!-- Put the matching ID into the PARAGRAPH -->
            <div id="toplinks" class="top-links">
                <a href="#quick-facts"><i class="fa fa-globe fa-lg"></i> <span>Quick Facts</span></a> 
                <a href="#cities-visited"><i class="fa fa-map-marker fa-lg"></i> <span>Cities Visited</span></a>
                <a href="#our-experience"><i class="fa fa-thumbs-up fa-lg"></i> <span>Our Experience</span></a>
                <a href="#tips-and-tricks"><i class="fa fa-paper-plane fa-lg"></i> <span>Tips and Tricks</span></a>
                <a href="#our-highlights"><i class="fa fa-dot-circle-o fa-lg"></i> <span>Our Highlights</span></a>
            </div>


			<p>
				Peru is known all around the world for Machu Picchu, but there is so much more to Peru than just that. We took a route that brought us from Cusco out to Lima on the coast, back into the mountains near Huaraz and then finished on the beaches of Mancora. <strong>Peru is so diverse that no matter what your style of travel is, you will find something that will excite you, guaranteed. </strong>
			</p>
		</div>
		<div class="two-column-flex__image two-column-flex__image--no-border two-column-flex__image--margin-top">
			<img src="/assets/images/overview/peru/peru-map.jpg" alt="Map of South America">
		</div>		
	</div>

    <hr>

    <div class="two-column-flex two-column-flex__less-margin-b two-column-flex__facts-cities">
        <div class="two-column-flex__description">
            <p class="section-headers__new-section section-headers--center" id="quick-facts">
                <span><i class="fa fa-globe fa-lg"></i> Quick facts</span>
                <ul class="page-design__quick-facts-ul">
                    <li><strong>Population -</strong> 29.5 million</li>
                    <li><strong>Language -</strong> Spanish</li>
                    <li><strong>Currency -</strong> Nuevo Soles (just called Soles)</li>
                    <li><strong>Capital -</strong> Lima </li>
                    <li><strong>Visas -</strong> You won’t need a Visa if you’re from Canada, USA, EU, or New Zealand unless you plan to stay for longer than 183 days.</li>
                    <li><strong>Tourist Card - </strong>You will be issued a tourist card when you enter Peru. Make sure you keep the original with you at all times and don’t lose it. You will have to pay a fine if you lose it when you leave the country.</li>
                </ul>
            </p>
        </div>
        <div class="two-column-flex__description">
            <p class="section-headers__new-section section-headers--center" id="cities-visited">
                <span><i class="fa fa-map-marker fa-lg"></i> Cities Visted</span>
                <ul class="page-design__quick-facts-ul">
                    <li><a href="">Cusco</a></li>
                    <li><a href="">Arequipa</a></li>
                    <li><a href="">Nazca</a></li>
                    <li><a href="">Ica/Huacachina</a></li>
                    <li><a href="">Lima</a></li>
                    <li><a href="">Huaraz</a></li>
                    <li><a href="">Mancora</a></li>
                </ul>
            </p>
        </div>    
    </div>

    <picture class="pano">
            <source data-srcset="/assets/images/overview/peru/peru-mp-pano1-edit-1000w.jpg" media="(min-width:1000px)" class="lazyload">
            <img data-srcset="/assets/images/overview/peru/peru-mp-pano1-edit-800w.jpg" class="pano__image lazyload">
    </picture>

    <p class="section-headers__new-section" id="our-experience">
        <span><i class="fa fa-thumbs-up fa-lg"></i> Our experience</span>
    </p>

	<p class="page-design__our-experience">
        <span>The Good</span>
		<ul class="page-design__our-experience--list">
            <li><strong>Peru is full of natural and manmade beauty. </strong> Whatever you’re into you will find something to suit you. </li>
            <li><strong>Machu Picchu.</strong> It goes without saying, but there’s a reason people will travel across the world to see this world wonder. No matter how many pictures you’ve seen, it will still astound you.</li>  
            <li>It’s good for the budget unless you are in very touristy areas. </li>
            <li>Because Peru is more tourist driven in general, this makes <strong>travelling through Peru much easier </strong> than other countries. Also, if you are coming from Bolivia you will find a huge improvement in travel (busses especially) quality. </li>    
        </ul>
	</p>
    <p class="page-design__our-experience">
        <span>The Bad</span>
        <ul class="page-design__our-experience--list">
            <li><strong>You will get ripped off if you allow it.</strong> Make sure you are bargaining almost everything you do, especially when it comes to tours.</li>
            <li>As always, <strong> do your research on every tour company. </strong> Many will rip you off or just straight up lie to you for your business. Always look the agencies up on TripAdvisor and read the reviews. Consequently, leave yourself at least a day or two to do your research before booking.</li>  
            <li>Certain places can be very touristy, but usually it is for good reason. As a whole, <strong>it was more of a tourist destination than the other countries we visited.</strong></li>
            <li>The food is much of the same, although a step up from Bolivia. You will still find that everything is fried with two starch sides. </li>    
        </ul>
    </p>
    <p class="page-design__our-experience">
        <span>The Verdict</span>
        <p class="section-headers__line-highlight section-headers__line-highlight--smaller">
            <strong>Peru is a must-see in your lifetime. </strong> Obviously many people come just for Machu Picchu, and if you can only do one thing then that’s it, but there is so much to Peru. Allow yourself time to explore and really soak in the culture and beauty Peru has to offer.  
        </p>
    </p>
</div>

<div class="three-pics-across">
    <div class="wrapper">
        <div class="three-pics-across__images">
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Valle de la Luna</span></div></a>
                <img data-src="/assets/images/overview/peru/peru-huaraz-mountains-edit-390w.jpg" class="lazyload">
            </div>
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
                <img data-src="/assets/images/overview/peru/peru-huaraz-blue-edit-390w.jpg" class="lazyload">
            </div>
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
                <img data-src="/assets/images/overview/peru/peru-mp-mountains1-edit-390w.jpg" class="lazyload">
            </div>
            
        </div>
    </div>  
</div>

<div class="wrapper wrapper--smaller wrapper__line-spacing">
    <p class="section-headers__new-section" id="tips-and-tricks">
        <span><i class="fa fa-paper-plane fa-lg"></i> Tips and Tricks</span>
    </p>
    <p class="page-design__our-experience">
        <ul class="page-design__our-experience--list">
           <li>
               <strong>Bargain -</strong> Since Peru is much more touristy you will be getting the Gringo pricing (4X’s the real price at least) but you will be able to talk them down. Stick to your guns and save some money.
           </li>
           <li>
               <strong>Acclimatization -</strong> Sorochi (altitude) pills are a great idea to bring with you. Many people land at sea level in Lima and quickly travel to Cusco (3400m) and begin their hike. <strong>This is a bad idea.</strong> We heard and saw many travellers get extremely sick during their Machu Picchu trek. Give your body time to adjust, either travel slowly to Cusco or relax for a couple days before your adventure! 
           </li>   
           <li>
               <strong>Tax hoax -</strong>  Restaurants in very touristy areas may add a tax to your bill (we found this mostly in Aguas Caliente at the base of Machu Picchu). <strong>Tax is already added to the cost and you shouldn’t have to pay anything more than that.</strong> For a tax to be valid, it must be an official receipt with the name and address of the restaurant on the receipt. If this happens to you, I would suggest disputing the bill and you can report them to SUNAT. 

           </li>
           <li>
               <strong>Tipping -</strong> tipping is expected in restaurants in touristy areas, 10% is acceptable but be aware that it may have already been added to the bill. In less tourist spots, it is not expected, but always appreciated. <strong>Tipping on tours is expected.</strong> We have been told that some tour agencies pay their guides very poorly and they rely on tips. We often coordinated with the others in our group with tipping.
           </li>
           <li>
               <strong>Lunches -</strong> the best meal of the day in Peru is lunch. You will find local holes in the wall that will serve “menu del dias” for very cheap, usually 10-15 Soles. This will get you a three course meal that consists of a sopa, a segundo (of your choice usually) and a postre, sometimes a drink will be included as well.  
           </li>
           <li>
               <strong>Taxis -</strong> try and take marked taxis in Peru. <strong>Always negotiate the price before getting in the taxis!</strong> Once you take a seat they have you, so make sure the negotiations happen before your bag is in the trunk or you butt is in the seat.
           </li>
           <li>
               <strong>Plan your time period -</strong> If you want to trek, June to September are the best months, but from April to November you will find a heavy fog over the coast, especially Lima. You don't want to trek in the rainy season. 
           </li>
        </ul>
    </p>
</div>

<div class="three-pics-across">
    <div class="wrapper">
        <div class="three-pics-across__images">
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
                <img data-src="/assets/images/overview/peru/peru-huaraz-moutains2-edit-390w.jpg" class="lazyload">
            </div>
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
                <img data-src="/assets/images/overview/peru/peru-mancora1-edit-390w.jpg" class="lazyload">
            </div>
            <div class="three-pics-across__single-wrapper">
                <a href=""><div class="three-pics-across__image-modal"><span>Words</span></div></a>
                <img data-src="/assets/images/overview/peru/peru-huaraz-blue2-edit-390w.jpg" class="lazyload">
            </div>
        </div>
    </div>
</div>


<div class="wrapper wrapper--smaller wrapper__line-spacing">
    <p class="section-headers__new-section" id="our-highlights">
        <span><i class="fa fa-dot-circle-o fa-lg"></i> Our Highlights</span>
    </p>
    <p class="page-design__our-experience">
        <ul class="page-design__our-experience--list">
           <li>
               <strong>&Machu Picchu& </strong> It’s a world wonder for a reason.
           </li>
           <li>
               <strong>&Huaraz&</strong> Treks that will astound you.
           </li>  
            <li>
               <strong>&Lima&</strong> So many things to do in this city of 10 million people.
           </li>  
            <li>
               <strong>&Huacachina& </strong> if you like roller coasters, you will love Huacachina.

           </li>  
        </ul>
    </p>
    <p class="section-headers__new-section">
        <span>Coulda Shoulda Woulda</span>
    </p>
    <p class="page-design__our-experience">
        <ul class="page-design__our-experience--list last-element"> 
           <li>
               <strong>&Colca Canyon& </strong> A popular day or mini-trek to visit the famous Condor birds. 
           </li>
           <li>
               <strong>&Sacred Valley&</strong> Many day trips from Cusco, we heard amazing things.
           </li>
           <li>
               <strong>&Rainbow Mountains&</strong> Mountains that contain every colour of the rainbow? Sounds cool!
           </li>
           <li>
               <strong>&Nazca Lines&</strong> The mysterious Nazca lines. What are they doing there?!
           </li>
        </ul>
    </p>
</div>


<% include ../partials/scrollTop %>
<% include ../partials/footer %>