<% include ../partials/header %>
<% include ../partials/banner %>

<div class="wrapper wrapper--smaller wrapper__line-spacing">
	<h1 class="section-headers__title">City Guides</h1>
	<hr>
	<div>
		<p class="section-headers--center section-headers__line-highlight">
			Our city guides will give you personal insight into many important aspects of each city we visited including where we stayed, what we ate, things to see and do, things to avoid, our personal highlights, an overall rating of the city and anything else we could think of.	
		</p>
		<p class="section-headers--center section-headers__line-highlight page-design__highlight-paragraph"> 			 
			Also, for your convenience, you will find our patent-pending Llama rating system on each of our city guides.
		</p>
	</div>
	
</div>

<div class="page-design--light-blue">
	<div class="wrapper wrapper--smaller wrapper__line-spacing">
		<div class="section-headers__subheading section-headers--no-margin">Bolivia</div>
		<div class="mini-squares">
			<a href="/city-guides/la-paz"><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/la-paz-130w.jpg" class="lazyload"><span class="mini-squares__box-text">La Paz</span></div></a>
			<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/potosi-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Potosi</span></div></a>
			<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/sucre-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Sucre</span></div></a>
			<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/uyuni-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Uyuni</span></div></a>
			<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/copacabana-130w.jpg" class="lazyload"><span class="mini-squares__box-text mini-squares__box-text--smaller-text">Copacabana</span></div></a>
			<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/isla-del-sol-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Isla del Sol</span></div></a>
		</div>
	</div>
</div>

<div class="wrapper wrapper--smaller wrapper__line-spacing">
	<div class="section-headers__subheading section-headers--no-margin">Peru</div>
	<div class="mini-squares">
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/cusco-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Cusco</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/arequipa-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Arequipa</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/nazca-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Nazca</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/huacachina-130w.jpg" class="lazyload"><span class="mini-squares__box-text mini-squares__box-text--smaller-text">Huacachina</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/lima-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Lima</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/huaraz-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Huaraz</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/mancora-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Mancora</span></div></a>
	</div>
</div>

<div class="page-design--light-blue">
	<div class="wrapper wrapper--smaller wrapper__line-spacing">
		<div class="section-headers__subheading section-headers--no-margin">Ecuador</div>
		<div class="mini-squares mini-squares--center">
			<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/guayaquil-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Guayaquil</span></div></a>
			<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/galapagos-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Galapagos Islands</span></div></a>
			<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/quito-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Quito</span></div></a>
		</div>
	</div>
</div>

<div class="wrapper wrapper--smaller wrapper__line-spacing">
	<div class="section-headers__subheading section-headers--no-margin">Colombia</div>
	<div class="mini-squares">
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/popayan-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Popayan</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/cali-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Cali</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/salento-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Salento</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/medellin-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Medellin</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/santa-marta-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Santa Marta</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/minca-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Minca</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/cartagena-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Cartagena</span></div></a>
	</div>
</div>




<% include ../partials/scrollTop %>
<% include ../partials/footer %>