<% include ../partials/header %>
<% include ../partials/banner %>

<div class="wrapper wrapper--smaller wrapper__line-spacing">
	<h1 class="section-headers__title">City Guides</h1>
	<div>
		<p>
			These city guides are designed for us to share our experiences, good and bad, with you. Our goal is for you to be able to get an idea of... 	
		</p>
		<p>
			Our city guides will give insight into many important aspects of each city we visited including where we stayed, where we ate, things to see and do, things to avoid, our personal highlights, and an overall rating of the city (and more). 
		</p>
		<p>
			Our goal is to provide you with our honest first-hand experience of each city we visited.  
		</p>
	</div>	 
	
</div>

<div class="page-design--light-blue">
	<div class="wrapper wrapper--smaller wrapper__line-spacing">
		<div class="section-headers__subheading section-headers--no-margin">Bolivia</div>
		<div class="mini-squares">
			<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/la-paz-130w.jpg" class="lazyload"><span class="mini-squares__box-text">La Paz</span></div></a>
			<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/potosi-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Potosi</span></div></a>
			<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/sucre-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Sucre</span></div></a>
			<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/uyuni-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Uyuni</span></div></a>
			<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/copacabana-130w.jpg" class="lazyload"><span class="mini-squares__box-text mini-squares__box-text--smaller-text">Copacabana</span></div></a>
			<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/isla-del-sol-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Isla del Sol</span></div></a>
		</div>
	</div>
</div>

<div class="wrapper wrapper--smaller wrapper__line-spacing">
	<div class="section-headers__subheading section-headers--no-margin">Peru</div>
	<div class="mini-squares">
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/la-paz-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Cusco</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/potosi-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Arequipa</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/sucre-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Nazca</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/uyuni-130w.jpg" class="lazyload"><span class="mini-squares__box-text mini-squares__box-text--smaller-text">Huacachina</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/copacabana-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Lima</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/isla-del-sol-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Huaraz</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/isla-del-sol-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Mancora</span></div></a>
	</div>
</div>

<div class="page-design--light-blue">
	<div class="wrapper wrapper--smaller wrapper__line-spacing">
		<div class="section-headers__subheading section-headers--no-margin">Ecuador</div>
		<div class="mini-squares mini-squares--center">
			<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/la-paz-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Guayaquil</span></div></a>
			<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/potosi-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Galapagos Islands</span></div></a>
			<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/sucre-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Quito</span></div></a>
		</div>
	</div>
</div>

<div class="wrapper wrapper--smaller wrapper__line-spacing">
	<div class="section-headers__subheading section-headers--no-margin">Colombia</div>
	<div class="mini-squares">
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/la-paz-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Popayan</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/potosi-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Cali</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/sucre-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Salento</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/uyuni-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Medellin</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/copacabana-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Santa Marta</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/isla-del-sol-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Minca</span></div></a>
		<a href=""><div class="mini-squares__box"><img data-src="/assets/images/city-guides/overview/isla-del-sol-130w.jpg" class="lazyload"><span class="mini-squares__box-text">Cartagena</span></div></a>
	</div>
</div>




<% include ../partials/scrollTop %>
<% include ../partials/footer %>